<ion-header>
  <ion-toolbar>
    <ion-title>razorPopUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <iframe id="iFrame123" name="iFrame123" #iframe src="#/razor-pay-fallback" target="_blank" width="650" height="375" frameborder="0"></iframe>
</ion-content>
