$primary_color: #931f1f;
$primary_font: 'Roboto', sans-serif;

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

body {
  font-family: $primary_font !important;
}

.no_border {
  border: 0 !important;
}

.auto_height {
  height: auto !important;
  vertical-align: initial !important;
}

.no_padding {
  padding: 0 !important;
}

.no_margin {
  margin: 0 !important;
}

/*aside starts*/

aside.slide-menu-left {
	top: 0;
	width: 250px;
  height: 100%;
  position: fixed;
	left: -300px;
  z-index: 1050;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);
	-moz-transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);
	-o-transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);
  transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);

  .leftlogodiv {
    padding: 30px 15px;
    background-color: #011d36;
    text-align: center;
  }

  .leftaccordmenu {
    height: 100%;
    overflow-y: auto;
    
    .card {
      border: 0;
      margin: 0;
      background-color: transparent;

      .card-header {
        padding: 0;
        border-bottom: 0;
      }

      a {
        padding: 15px 15px 15px 35px;
        border-bottom: 1px solid #b7b7b7;
        display: block;
        position: relative;
        color: $primary-color;
        font: 500 14px $primary_font;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        svg {
          width: 11px;
          position: absolute;
          top: 50%;
          right: 15px;
          fill: #5C5E60;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          transition: transform 0.3s linear;
        }

        img {
          padding-right: 5px;
        }

        &[aria-expanded="true"] {
          background-color: #ae2221;
          color: #fff;

          svg {
            fill: #fff;
            transform: translateY(-50%) rotate(180deg);
            transition: transform 0.3s linear;
          }
        }
      }
    }

    .leftsubmenus {
      margin: 0;

      li {
        border: 0;

        a {
          padding: 10px 10px 10px 50px;
          display: block;
          color: $primary_color;
          font: 400 14px $primary_font;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: capitalize;
        }
      }
    }
  }
}

body.sml-open aside.slide-menu-left {
	left: 0;
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100%;
	height: 100%;
}

/*aside ends*/

/*Header Starts*/

header {
  background-color: $primary_color;

  a.hamburger {
    width: 75px;
    height: 58px;
    padding: 19px 21px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;

    span {
      width: 16px;
      height: 3px;
      margin-bottom: 5px;
      display: block;
      background-color: #ad2121;

      &:first-child {
        width: 23px;
      }

      &:last-child {
        width: 8px;
      }
    }
  }

  h1 {
    margin: 0;
    display: inline-block;

    a {
      width: 200px;
      // height: auto;
      padding: 10px 0;
      display: inline-block;
      background: url(../images/logo-white.png) no-repeat center center/contain;
      text-indent: -9999px;
    }
  }
}

/*Header Ends*/

/*Login Starts*/

.signdiv {
  height: 100vh;
  position: relative;
  background: #fca6a7 url(../images/login_bg.png) no-repeat;
  background-size: cover;

  .logodiv {
    margin: 57px 0;

    a {
      display: inline-block;
    }
  }

  .formdiv {
    width: 100%;
    padding: 0 50px;
    position: absolute;
    top: 80%;
    -webkit-transform: translateY(-80%);
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    transform: translateY(-80%);

    h1 {
      margin: 0 0 25px;
      color: #04447e;
      font: 600 15px $primary_font;
    }

    .form-group {
      margin-bottom: 11px;
      position: relative;

      .form-control {
        height: 43px;
        padding-left: 45px;
        border: 0;
        @include border-radius(15px);
        background-color: rgba(255, 255, 255, 0.45);
        @include box-shadow(6px, 5px, 3px, 0 rgba(110, 0, 0, 0.82));
        color: #6a6a6a;
        font: normal 13px $primary_font;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      select.form-control {
        padding-left: 0.75rem;
        background: #04447e;
        @include box-shadow(0, 0, 0, 0);
        color: #fff;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
        text-align-last: center;
      }
    }

    .custom-control {
      padding-right: 5px;
      margin-bottom: 20px;

      label {
        color: #04447e;
        font: normal 11px $primary_font;

        &:before, &:after {
          top: -3px;
        }
      }

      .custom-control-input:checked~.custom-control-label::before {
        border-color: #b02a30;
        background-color: #b02a30;
        @include box-shadow(0, 0, 0, 0);
      }
    }

    .loginbtn {
      height: 43px;
      border: 0;
      @include border-radius(15px);
      background-color: $primary_color;
      color: #fff;
      font: 400 13px $primary_font;
      outline: 0 !important; 
    }
  }
}

/*Login Ends*/

/*Main Content Starts*/

.cstmbtn {
  min-width: 125px;
  padding: 10px 30px;
  border: 0;
  @include border-radius(25px);
  background-image: linear-gradient(280deg, #ac3030, #881717);
  color: #fff;
  font: 400 14px $primary_font;
  outline: 0 !important;
  text-decoration: none;

  &:hover {
    background: $primary_color;
    color: #fff;
    text-decoration: none;
  }
}

.maindiv {
  min-height: 100vh;
  padding-top: 68px;
  background: #FFFBF9 url(../images/desktop_bg.jpg) no-repeat fixed left bottom/cover;

  .headingsec {
    padding: 13px;

    h2 {
      margin: 0;
      color: #063b6d;
      font: 500 20px $primary_font;
      text-transform: capitalize;      
    }
  } 

  .accordsec {
    margin-bottom: 30px;

    .card {
      border: 0;
      margin-bottom: 15px;
      @include border-radius(10px);
      background-color: transparent;

      label {
        color: #ad2121;
        font: normal 14px $primary_font;
      }

      .card-header {
        padding: 0;
        border: solid 1px #ffffff;
        @include border-radius(8px);
        background-color: rgba(255, 255, 255, 0.7);
        @include box-shadow(5px, 5px, 3px, 0 #6e0000);

        a {
          padding: 14px 14px 14px 80px;
          display: block;
          color: #ad2121;
          font: 600 16px $primary_font;
          text-transform: capitalize;

          &.card-link {
            background: url(../images/minus.png) no-repeat 98.5% center;

            &.collapsed {
              background: url(../images/plus.png) no-repeat 98.5% center;
            }
          }
        }
      }

      .card-body {
        margin-top: 7px;
        padding: 15px 70px 35px;
        @include border-radius(10px);
        background-color: rgba(255, 255, 255, 0.45);
        @include box-shadow(12px, 10px, 6px, 0 rgba(110, 0, 0, 0.65));

        &.cstmbody {
          padding: 15px 15px 10px;
        }        

        .dob {
          label {
            margin: 0;
          }

          .form-control {
            padding-left: 0;
            border: 0;
            background: transparent url(../images/calendar.png) no-repeat right center;
            @include box-shadow(0, 0, 0, 0);
            color: #4b4b4b;
            font: normal 28px $primary_font;
          }
        }

        .rangediv {
          strong {
            display: block;
            color: #4b4b4b;
            font: 500 28px $primary_font;
          }

          span {
            color: #4b4b4b;
            font: normal 15px $primary_font;
            text-transform: uppercase;
            vertical-align: top;
          }

          input[type=range] {
            background-color: transparent !important;
          }

          input[type=range]::-moz-range-thumb {            
            background: $primary_color;
          }

          input[type=range]::-moz-range-track {
            height: 7px !important;
            background-color: rgba(75, 75, 75, 0.55);
          }

          input[type=range]:focus::-moz-range-thumb {
            @include box-shadow(0, 0, 4px, 0px $primary_color);
          }

          input[type=range]::-ms-thumb {            
            background: $primary_color;
          }

          input[type=range]::-ms-track {
            height: 7px !important;
            background-color: rgba(75, 75, 75, 0.55);
          }

          input[type=range]:focus::-ms-thumb {
            @include box-shadow(0, 0, 4px, 0px $primary_color);
          }

          input[type=range]::-webkit-slider-thumb {
            width: 20px;
            height: 20px;
            border: solid 2px #ffffff;     
            background: $primary_color;
            margin-top: -6px;
          }

          input[type=range]::-webkit-slider-runnable-track {
            height: 7px !important;
            background-color: rgba(75, 75, 75, 0.55);
          }

          input[type=range]:focus::-webkit-slider-thumb {
            @include box-shadow(0, 0, 4px, 0px $primary_color);
          }
        }

        .custom-select {
          @extend .form-control;
          padding-right: 17px;
          background: url(../images/down_arrow.png) no-repeat right center/14px !important;
        }

        .statediv {
          select {
            padding-left: 0;
            border: 0;
            background-color: transparent;
            color: #4b4b4b;
            font: normal 26px $primary_font;
            background: url(../images/down_arrow.png) no-repeat right center/14px;
            @include box-shadow(0, 0, 0, 0);

            option {
              font-size: 15px;
            }

            &:disabled {
              background: none;
            }
          }
        }

        .form-control {
          padding-left: 0;
          border: 0;
          background: transparent;
          color:#4b4b4b;
          font: 500 20px $primary_font;
          @include box-shadow(0, 0, 0, 0);

          &#annSuminsured {
            padding-left: 15px;
            background: url(../images/rupee.png) no-repeat left center;
          }
        }

        .chkboxdiv {
          input {
            display: none;

            &:checked + label {
              background: url(../images/man_check.png) no-repeat center center;
            }
          }

          .form-check-inline {
            margin-right: 10px;
          }

          label {
            width: 48px;
            height: 48px;
            display: inline-block;
            background: url(../images/man_uncheck.png) no-repeat center center;
            cursor: pointer;
          }
          
          &.chldbox {
            input:checked + label {
              background: url(../images/child_check.png) no-repeat center center;
            }

            label {
              background: url(../images/child_uncheck.png) no-repeat center center;
            }
          }
        }

        .radioboxdiv {
          input {
            display: none;

            &:checked + label {
              color: #4b4b4b;
            }
          }

          .form-check-inline {
            margin-right: 10px;
          }

          label {
            display: inline-block;
            font: 500 16px $primary_font;
            color: rgba(75, 75, 75, 0.5);
            cursor: pointer;
          }          
        }

        .tablediv {
          padding-top: 15px;
          border-top: 2px solid #D5C8C1;
          margin-top: 15px;

          h3 {
            padding: 10px;
            margin: 0 0 10px;
            @include border-radius(25px);
            background-color: rgba(255, 255, 255, 0.5);
            color: #4b4b4b;
            font: 500 18px $primary_font;
            text-align: center;
            text-transform: capitalize;
          }

          table {
            width: 100%;
            margin: 0 0 18px;
            border-collapse: separate;
            border-spacing: 4px;

            thead {
              tr th {
                border: 0;
                color: #b02929;
                font: normal 15px $primary_font;
                text-align: center;

                &:nth-child(2) {
                  padding-left: 70px;
                  text-align: left;
                }
              }             
            }

            tbody {
              tr td {
                padding: 8px;
                border: solid 1px #b02929;
                @include border-radius(10px);
                color: #5f5953;
                font: normal 15px $primary_font;
                text-align: center;

                input {
                  display: none;

                  &:checked + label {
                    background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/13px;
                  }
                }

                label {
                  width: 36px;
                  height: 36px;
                  margin: 0;                  
                  border: solid 1px #b02929;
                  @include border-radius(10px);
                  display: inline-block;
                  background: rgba(255, 255, 255, 0.65) url(../images/uncheck.png) no-repeat center center/13px;
                  cursor: pointer;
                  vertical-align: top;
                }

                &:first-child {
                  width: 36px;
                  padding: 0;
                  border: 0;
                }

                &:nth-child(2) {
                  padding-left: 25px;
                  text-align: left;
                }
              }
            }            

            tfoot {
              tr td {
                padding: 20px 0 0 45px;
                text-align: left;

                strong {
                  display: inline-block;
                  color: #4b4b4b;
                  font: 500 14px $primary_font;

                  &:first-child {
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }          
        }

        .tablediv2 {
          table {
            width: 100%;
            margin: 0 0 18px;
            border-collapse: separate;

            thead {
              tr th {
                padding: 12px;
                border: 0;
                @include border-radius(10px);
                background-color: rgba(255, 255, 255, 0.65);
                color: #962121;
                font: 500 15px $primary_font;

                &:first-child {
                  background-color: transparent;
                }
              }             
            }

            tbody {
              th.mb_head {
                display: none;
              }

              tr {
                th {
                  padding: 8px;
                  font: 500 15px $primary_font;
                  color: #4b4b4b;
                }                

                td {
                  padding: 8px;
                  background-color: rgba(255, 255, 255, 0.26);
                  font: 500 15px $primary_font;
                  color: #4b4b4b;
                  text-align: center;
                }

                &:last-child {
                  th {
                    color: #952020;
                  }

                  td {
                    font-size: 23px;
                    @include border-radius(0 0 10px 10px);
                  }
                }
              }
            }

            tfoot {
              tr td {
                input {
                  display: none;

                  &:checked + label {
                    border: solid 2px #982222;
                    background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/16px;
                  }
                }

                label {
                  width: 100%;
                  height: 40px;
                  border: solid 1px rgba(152, 34, 34, 0.45);
                  margin-top: 10px;
                  @include border-radius(20px);
                  display: inline-block;
                  background: transparent;
                  cursor: pointer;               
                  vertical-align: top;
                }
              }
            }
          }
        }

        .premTable {
          width: 100%;
          display: inline-table;

          thead {
            tr th {
              color: #012b51;
              font: 500 14px $primary_font;
            }
          }

          tbody {
            tr td {
              padding: 5px;
              
              svg {
                width: 19px;
                margin-right: 5px;
                vertical-align: -1px;
              }
              
              strong {
                color: #4b4b4b;
                font: 500 37px $primary_font;
              }
            }
          }

          tfoot {
            tr td {
              label {
                margin: 0 5px 0 0;
                color: #727374;
                font: 500 14px $primary_font;
              }

              svg {
                width: 12px;
                vertical-align: -1px;
              }

              span {
                color: #0f0f0f;
                font: 500 14px $primary_font;
              }
            }
          }
        }

        .innertable {
          .tablediv table {
            thead tr {
              th {
                font-size: 13px;
                text-align: center;
  
                &:nth-child(2) {
                  padding: 0;
                }
              }              
            }

            tbody tr {
              td {
                font-size: 13px;
                text-align: center;
  
                &:nth-child(2) {
                  padding: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*Main Content Starts*/

/*Calculate Premium Starts*/

.premiumdiv {
  min-height: 100vh;
  position: relative;
  background: #fca6a7 url(../images/mobile_bg.jpg) no-repeat fixed;
  background-size: cover;

  h2 {
    margin: 100px 0 0;
    color: #04447e;
    font: 600 16px $primary_font;
    text-transform: capitalize;
  }

  .formdiv {
    width: 100%;
    position: absolute;
    top: 73%;
    left: 0;
    transform: translateY(-70%);

    .innerdiv {
      width: 100%;
      height: 240px;
      margin-bottom: 60px;
      background: url(../images/city.png) no-repeat center center/contain;
  
      .vehiclediv {
        width: 312px;
        height: 240px;
        margin: 0 auto;
        position: relative;
        background: url(../images/car.png) no-repeat center center/contain;
  
        input {
          width: 145px;
          height: 30px;
          padding: 5px;
          border: solid 1px #000000;
          @include border-radius(5px);
          position: absolute;
          top: 67%;
          left: 50%;
          color: #343434;
          font: 500 13px $primary_font;
          outline: 0 !important;
          text-align: center;
          -webkit-transform: translate(-50%, -67%);
          -moz-transform: translate(-50%, -67%);
          -ms-transform: translate(-50%, -67%);
          -o-transform: translate(-50%, -67%);
          transform: translate(-50%, -67%);
        }
      }     
    }

    &.twowheldiv {
      margin: 45px 0;
      position: static;
      transform: none;

      .innerdiv {
        height: 358px;

        .vehiclediv {
          height: 358px;
          background: url(../images/bike.png) no-repeat center center/contain;

          input {
            top: 42%;
            transform: translate(-50%, -42%);
          }
        }
      }      
    }
  }  
}

/*Calculate Premium Ends*/

/*Media Queries Starts*/

@media (max-width:991px) {
  .maindiv {
    .accordsec {
      .card {
        .card-header {
          a {
            padding: 14px 14px 14px 40px;
            background-position: 97% center !important;
          }
        }

        .card-body {
          padding: 15px 30px 35px;

          .tablediv table {
            thead tr th:nth-child(2) {
              padding-left: 25px;
            }

            tbody tr td:first-child  {
              vertical-align: top;
            }

            tfoot tr td {
              padding: 15px 0 0 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width:767px) {
  .maindiv {
    .accordsec {
      .card {
        .card-body {
          .dob .form-control {
            background-size: 20px;
            font-size: 20px;
          }

          .statediv select {
            background-size: 10px;
            font-size: 20px;
          }

          .rangediv {
            strong {
              font-size: 20px;
            }

            span {
              font-size: 12px;
            }
          }

          .tablediv {
            margin-top: 5px;

            h3 {
              font-size: 15px;
            }

            table {
              thead tr th {
                font-size: 14px;
              }

              tbody tr {
                td {
                  font-size: 14px;

                  &:nth-child(2) {
                    padding-left: 10px;
                  }
                }
              }

              tfoot tr td strong {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:575px) {
  header {
    background: rgba(255, 255, 255, 0.45) url(../images/header_bg.png) no-repeat left/cover;
    @include box-shadow(0, 8px, 6px, 0 rgba(144, 53, 55, 0.38));
    text-align: center;

    h1 {
      a {
        width: 150px;
        padding: 5px 0;
        background: url(../images/logo.png) no-repeat center center/contain;
      }
    }
  }

  .maindiv {
    padding-top: 58px;
    background: url(../images/mobile_bg.jpg) no-repeat fixed left top/cover;

    .headingsec {
      text-align: center;
      
      h2 {
        font-size: 18px;
      }
    }

    .accordsec {
      .card {
        .card-header a {
          padding: 10px;
          font-size: 14px;
          text-align: center;
          background-size: 12px !important;
          background-position: 95% center !important;
        }

        .card-body {
          padding: 15px 15px 20px;

          label {
            font-size: 11px;
          }

          div .form-control,
          div .custom-select {
            height: 35px !important;
            font-size: 14px !important;
          }
          
          .statediv label {
            margin: 0;
          }

          .rangediv {
            strong  {
              font-size: 15px;
            }

            span {
              font-size: 10px;
            }
          }

          .tablediv {
            h3 {
              font-size: 13px;
            }

            table {
              thead tr th {
                font-size: 11px;
              }

              tbody tr {
                td {
                  font-size: 11px;

                  &:first-child {
                    width: 30px;

                    label {
                      width: 30px;
                      height: 30px;
                      background-size: 10px;
                    }

                    input:checked + label {
                      background-size: 10px;
                    }
                  }
                }
              }

              tfoot tr td strong {
                font-size: 11px;
              }
            }            
          }

          .tablediv2 {
            table {
              thead {
                tr th {
                  padding: 10px 8px;
                  font-size: 12px;
                }
              }

              tbody {
                th.mb_head {
                  @include border-radius(10px);
                  display: table-cell;
                  background-color: rgba(255, 255, 255, 0.65);
                  font-size: 13px;
                  text-align: center;
                }

                tr {
                  &:nth-last-child(2) {
                    th.mb_head {
                      color: #952020;
                    }
                  }

                  &:last-child {
                    td {
                      font-size: 18px;
                    }
                  }

                  td {
                    font-size: 13px;
                  }
                }
              }

              tfoot tr td {
                label {
                  height: 33px;
                }

                input:checked + label {
                  background-size: 13px !important;
                }
              }
            }
          }

          .premTable tbody tr td {
            strong {
              font-size: 27px;
            }

            svg {
              width: 14px;
            }
          }

          &.cstmbody {
            padding: 10px 10px 0;
          }
        }

        .form-group {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width:470px) {

 
  .maindiv .accordsec .card .card-body {
    .chkboxdiv {
      margin: 0 -5px;
  
      label {
        width: 35px;
        height: 35px;
        background-size: 35px !important;
      }
  
      input:checked + label {
        background-size: 35px !important;
      }
  
      .form-check-inline {
        margin-right: 10;
      }
    }
  }

  .cstmbtn {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width:354px) {
  .maindiv .accordsec .card .card-body {
    
    label {
      height: 26px;
      vertical-align: top;
    }

    .radioboxdiv label {
      height: auto;
      font-size: 14px;
    }


    .premTable {
      tfoot tr td {
        span {
          vertical-align: top;
        }

        svg {
          vertical-align: text-top;
        }
      }
    }
  }
}

/*Media Queries Ends*/