.summary-header_titles {
  text-align: center;
}
tr {
  border-bottom: none !important;
}

.tab {
  color: white;
  background-color: black;
}

.backgroundCss {
  background-image: url("src/assets/images/Health_BG.jpg");
  // background-color: #cccccc;
  // height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  // opacity: 0.5;
  height: auto;
  width: 100%;
}

.header-quote {
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 0 #6e0000;
  border: solid 1px #fff;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  // margin-left: 18px;
  // margin-right: 18px;
  // margin-top: 50px;
}

.header-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ad2121;
  margin-left: 20px;
}


.header {
  background-color: #931f1f;
}
.logoImg {
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 15%;
  height: 40px;
}

.backgroundCss .premium_tab .panel_title {
  text-align: left;
  //opacity: 1;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  //text-align: center;
  margin-left: 20px;
  margin-top: 13.2px;
  color: #ad2121;
}
.backgroundCss .premium_tab {
  width: auto;
  height: 48px;
  //opacity: 0.35;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 0 #931f1f;
  border: solid 1px #fff;
  background-color: #ffffff6b;
}

.backgroundCss .premium_body {
  margin-top: 7px;
  padding: 15px;
  width: auto;
  height: auto;
  //opacity: 0.45;
  box-shadow: 12px 10px 6px 0 #931f1f;
  border: solid 1px #fff;
  border-radius: 10px;
  background-color: #ffffff6b;
}

.quote-labels {
  width: 146px;
  height: 21px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #ad2121;
}
.label {
  color: black;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  // border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 10%;
  background: #D1D3D4;
  border-radius: 70%;
  width: 20px;
  height: 20px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #ad2121;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #ad2121;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #ad2121;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  // top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 15%;
  right: 45px;
  font-size: 60px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  // border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

// tr:nth-child(even) {
//   background-color: #dddddd;
// }

.table1{
  border:0px; 
  text-align:center; 
  cellpadding:0px; 
  cellspacing:4px; 
  margin-bottom: 40px;
}

.table2{
  border:1px; 
  cellspacing:0px;
   cellpadding:5px; 
   width:100%; 
   text-align:center;
}

.td1{
  background-color:"#e9e9e9"; 
  height:25px; 
  colspan:2; 
  align:middle;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
  padding: 5%;
  // height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.is-invalid{
  border: 1px solid red; 
}

.mat-calendar-previous-button mat-icon-button{
  background: red !important;
}

.mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle{
  // background: red !important;
  font-size: 25px;
}

// .maindiv .accordsec .card .card-body .custom-select {
//   padding-right: 17px;
//   /** right **/
//   background: url(src/assets/images/down_arrow.png) no-repeat right center/14px !important;
// }

mat-form-field .mat-form-field-wrapper{
  width: 75% !important;
} 
tr{
  border-bottom: none !important;
}
td[_ngcontent-c0], th[_ngcontent-c0] {border: none !important;}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
