// .main-container {
//   // height: -webkit-fill-available;
//   border-radius: 10px;
//   box-shadow: 6px 6px 12px 0 #6e0000;
//   border: solid 1px #ffffff;
//   background-color: #ffffff;
//   margin: 5% 10%;
//   // opacity: 0.5;
//   background: rgba(255, 134, 134, 0.1);
// }

// .backgroundCss {
//   background-image: url("src/assets/images/Health_BG.jpg");
//   // background-color: #cccccc;
//   // // height: 500px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   margin-top: 0px;
//   margin-bottom: 0px;
//   margin-left: 0px;
//   margin-right: 0px;
//   // opacity: 0.5;
// }

// .fontStyle {
//   width: 103px;
//   height: 20px;
//   font-family: ProximaNova;
//   font-size: 16px;
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.25;
//   letter-spacing: normal;
//   text-align: left;
//   color: #ad2121;
//   // opacity: 0.7;
// }

// .fontStyle1 {
//   width: 103px;
//   height: 20px;
//   font-family: ProximaNova;
//   font-size: 11px;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.25;
//   letter-spacing: normal;
//   text-align: center;
//   color: #ad2121;
//   // opacity: 0.7;
// }

// .lable {
//   // width: 104px;
//   // height: 34px;
//   font-family: ProximaNova;
//   font-size: 20px;
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.21;
//   letter-spacing: normal;
//   text-align: left;
//   color: #4b4b4b;
// }

// ion-input{--border-bottom:0px;}

.lable{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #b02929;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.cstmbtn{
  min-width: 0px !important;
  border-radius: 0px;
  margin-right: 10px;
}