.loader1{
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    text-align: center;
    z-index:1000000;
    background-color: rgba(0,0,0,0.5);
}