<ion-header>
  <ion-toolbar>
    <ion-title>PED Questionnaire
      <button (click)='closeModal()' style="float:right;
      background: white;">X</button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="backgroundCss">
  <div class="container-fluid" style="padding: 0px!important;">
    <div style=" background: #dede177d;text-align: center;color: maroon;
    font-size: 16px;
    padding: 10px;">
      Has the person to be insured ever suffered from <br> or is currently suffering from?
    </div>
    <div class="row" *ngFor='let a of pedData'>
      <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
        <label for="prdName" class="form-control" style="border: none"> {{a.Question}}
          <div>
            <span *ngIf='a.isChecked==false'>No</span>
            <span *ngIf='a.isChecked==true'>Yes</span>
          </div>
        </label>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 form-group">
        <ion-toggle [(ngModel)]='a.isChecked'></ion-toggle>
      </div>
    </div>
    <!-- <ion-grid class="auto_height">
      <ion-row *ngFor='let a of pedData'>
        <ion-col>
          {{a.Question}}
        </ion-col>
        <ion-col>
          <ion-toggle [(ngModel)]='a.isChecked'></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <div style="text-align: center; margin:10px;">
      <button type="button" (click)='gotoProposal()' class="prem_button">Submit</button>
    </div>

  </div>
</ion-content>
<style>

</style>