<head>
  <title>Health Summary - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
  <script>
    function myFunction() {
      var x = document.getElementById("travellersrange").value;
      document.getElementById("travellersvalue").innerHTML = x;
    }
  </script>
</head>

<aside class="menu slide-menu-left">
  <div class="leftlogodiv">
    <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
  </div>
</aside>
<header class="container-fluid fixed-top">
  <div class="row" style="margin-bottom: 0px;">
    <div class="container">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-10">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <!-- <div class="col-2 text-center twobtns">
          <a (click)="home($event)" style="cursor: pointer;" class="auto_height"><span
              style="font-weight: bold; color:white;">HOME</span></a>
        </div> -->
      </div>
    </div>
  </div>
</header>
<ion-content>
  <div class="container-fluid maindiv">
    <div class="row" style="margin-bottom: 0px;">
      <section class="container headingsec">
        <h2>Summary</h2>
      </section>
      <section class="container accordsec">
        <div id="accordion">
          <div class="card">
            <div>
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <thead>
                    <tr>
                      <th class="text-center" colspan="2">
                        Total Premium Amount
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <strong> ₹ {{quoteData.totalPremium | number:'1.0-0'}}</strong>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-left">
                        <label>Basic Premium</label>
                        <strong> ₹ {{quoteData.basicPremium | number:'1.0-2'}}</strong>
                      </td>
                      <td class="text-right">
                        <label>Tax</label>
                        <span>₹ {{quoteData.totalTax | number:'1.0-2'}}</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="showPlanDetails()">
              <a class="card-link collapsed" id="planDetails">Plan Details
              </a>
            </div>
            <div>
              <div class="card-body" *ngIf="isPlanDetails">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Plan Code</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{quoteData.productDetails.planDetails[0].planCode}}' disabled />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Plan Name</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{quoteData.productDetails.planDetails[0].planName}}' disabled />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Proposal Number</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{proposalData.proposalNumber}}'
                      disabled />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Tenure</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{tenure}}' disabled />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposal_request_data.CustomerDetails.CustomerName}}' />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="showInsuredDetails()">
              <a class="card-link collapsed" id="insuredDetails">Insured Details

              </a>
            </div>
            <div *ngIf="isInsuredDetails">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Insured Name</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposal_request_data.FieldsGrid[0].FieldValue}}' disabled />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Insured Relationship</label>
                    <input type="text" class="form-control" value='{{proposal_request_data.FieldsGrid[1].FieldValue}}'
                      disabled />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Insured DOB</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{insuredDate}}' disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)='showApplicantDetails()'>
              <a class="card-link collapsed" id="applicantDetails">Applicant Details
              </a>
            </div>
            <div *ngIf='isApplicantDetails'>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposal_request_data.CustomerDetails.CustomerName}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{addDetails.city}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>State</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{addDetails.state}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Pin Code</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{addDetails.pin}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposal_request_data.CustomerDetails.Email}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposal_request_data.CustomerDetails.MobileNumber}}' />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="showCoverDetails()">
              <a class="card-link collapsed" id="coverDetails">Cover Details
              </a>
            </div>
            <div *ngIf="isCoverDetails">
              <div class="card-body">
                <table border="0" class="premTable">
                  <thead>
                    <tr>
                      <th>Cover Name</th>
                      <th>Sum Insured in ₹</th>
                      <th>No of Days</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let c of covers'>
                      <td>{{c.CoverName}}</td>
                      <td>{{c.CoverSI}}</td>
                      <td>{{c.Column1}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="selectedPED">
            <div class="card-header" (click)="showPEDDetails()">
              <a class="card-link collapsed" id="pedDetails">PED Details
              </a>
            </div>
            <div *ngIf="isPEDDetails">
              <div class="card-body">
                <div *ngFor='let m of medDetails' class="slider-values-title">{{m}}</div>
              </div>
            </div>
          </div>
          <div class="card" *ngIf='flowType =="A"'>
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseFLow">Partner Details</a>
            </div>
            <div id="collapseFLow" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Customer Identification number <sup>*</sup></label>
                    <input type="text" class="form-control" [(ngModel)]="cust_identification_no"
                      placeholder="Enter customer identification number" />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>SP Code <sup>*</sup></label>
                    <input type="text" class="form-control" [(ngModel)]="sp_code" placeholder="Enter sp code" />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>SP Name <sup>*</sup></label>
                    <input type="text" class="form-control" [(ngModel)]="sp_name" placeholder="Enter sp name" />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>LG code <sup>*</sup></label>
                    <input type="text" class="form-control" [(ngModel)]="lg_code" placeholder="Enter lg code" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Branch Code <sup>*</sup></label>
                    <input type="text" class="form-control" [(ngModel)]="branch_code" placeholder="Enter branch code" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="showMedicalDetails()">
              <a class="card-link collapsed" id="medicalDetails">Medical Test Guidelines
              </a>
            </div>
            <div *ngIf="isMedicalDetails">
              <div class="card-body">
                <div class="row">
                  <div>
                    <p>Mandatory Medical test at ICICI Lombard GIC Ltd. designated daignostic center for:
                    </p>
                    <ul style='list-style-type: circle'>
                      <li>
                        Individual(s) applying for insurance with age greater than 55 years.
                      </li>
                      <li>
                        Individual(s) applying for insurance suffering from/diagnosed with Pre-Existing Disease/medical
                        condition.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body agreeBody">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div style="text-align: center" *ngIf='selectedPED || validInsuredAge'>
                    <div style="margin-top: 10px;">
                      <!-- <img src='./assets/img/attention.png'> -->
                      <p>Warning ! Policy will be insured on the basis of underwriter approval</p>
                    </div>
                  </div>
                  <table class="agreeTable">
                    <tr>
                      <td>
                        <input type="checkbox" id="iAcceptAgentdec1" (change)='getDeclarationAgentApproval($event)'>
                        <label for="iAcceptAgentdec1"></label>
                      </td>
                      <td>
                        <label for="iAcceptAgentdec" class="auto_height">I accept <span
                            style="text-decoration: underline;font-weight: bold" (click)="showReport()">Agent's
                            Confidentaility Report</span> Declaration</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox" id="iAcceptdec1" (change)='getDeclarationApproval($event)'>
                        <label for="iAcceptdec1"></label>
                      </td>
                      <td>
                        <label for="iAcceptdec" class="auto_height">I accept the <span
                            style="text-decoration: underline;font-weight: bold"
                            (click)="showDeclarartion()">Declaration</span> and agree to the <span
                            style="text-decoration: underline;font-weight: bold" (click)="showTerms()">Terms
                            &amp;
                            Condition</span></label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="text-center">
                <button type="button" id="btnConvert" class="cstmbtn" (click)="submitSummary()">Pay Now</button>
              </div>
            </div>
          </div>

        </div>
      </section>
      <div id="myNav4" class="overlay">
        <div class="overlay-content">
          <div style="margin-top: 15%; padding: 0 15%;">
            <!-- class="container-fluid maindiv" -->
            <div class="row" style="margin-bottom: 0px;">
              <section class="container accordsec">
                <div id="accordion">
                  <div class="card" style="margin-top: 15px; background: #fff">
                    <div class="card-header">
                      <button type="button" id="btnPay" style="float: right;
                          background: transparent; outline: none;" id="btnPay" (click)="closeReport($event)"><img
                          src="assets/images/close.png" alt="Close" /></button>
                      <a>
                        Agent's Confidentaility Report
                      </a>
                    </div>
                    <div class="collapse show">
                      <div class="card-body" style="padding: 5px 5px">
                        <div class="">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                            <p>
                              I hereby declare that the customer has understood the nature of questions in the proposal
                              and the importance of disclosing all the material information.
                              I declare the facts disclosed in the proposal above are true and correct to the best of my
                              knowledge and belief.
                              I confirm having verified the identity of the Proposer and Insured and address of the
                              customer and the proofs submitted along with this form with the original documents
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

      <div id="myNav5" class="overlay">
        <div class="overlay-content">
          <div style="margin-top: 5%; padding: 0 15%;">
            <!-- class="container-fluid maindiv" -->
            <div class="row" style="margin-bottom: 0px;">
              <section class="container accordsec">
                <div id="accordion">
                  <div class="card" style="margin-top: 15px; background: #fff">
                    <div class="card-header">
                      <button type="button" id="btnPay" style="float: right;
                            background: transparent; outline: none;" id="btnPay"
                        (click)="closeDeclaration($event)"><img src="assets/images/close.png" alt="Close" /></button>
                      <a>
                        Declaration
                      </a>
                    </div>
                    <div class="collapse show">
                      <div class="card-body" style="padding: 5px 5px">
                        <div class="">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                            <p style="font-size: 12px;">
                              1. I hereby declare, on my behalf that the above statements, answers and/or particulars
                              given
                              by me are true and complete in all respects to the best of my knowledge and that I am
                              authorised to propose on behalf of these other persons.
                            </p>
                            <p style="font-size: 12px;">2. I understand that the information provided by me will form
                              the basis of the insurance
                              policy, is subject to the Board approved underwriting policy of the insurere and that the
                              policy will come into force only after full payment of premium chargeable.
                            </p>
                            <p style="font-size: 12px;">3. I further declare that I will notify in writing any change
                              occuring in occupation or
                              general health of the life to be insured/proposer after the proposal has been submitted
                              but before communication
                              of the risk acceptance by the comapny.
                            </p>
                            <p style="font-size: 12px;">4. I declare that i consent to the company seeking medical
                              information from any doctor or
                              hospital who/which at any time has attended on the person to be insured/proposer
                              or from any past or present employer concerning anything which affects the physical or
                              mental health of the person to be
                              insured/proposer and seeking information from any insurer to whom an application for the
                              purpose of underwrting the proposal and/or claim settlement.
                            </p>
                            <p style="font-size: 12px;">5. I authorize the comapny to share information pertaining to my
                              proposal including the
                              medical records of insured/proposer fort he sole purpose of underwrting the proposal
                              and/or claims settlement and with any Govermental and/or regulatory authority.
                            </p>
                            <p style="font-size: 12px;">6. I have been provided with the detailed terms of the policy.
                              Ihave read, understood and
                              am aware of the detailed terms of policy.
                            </p>
                            <p style="font-size: 12px;">7. I hereby give consent for recieving proposal form and policy
                              copy in electronic form
                              only. The provision for physical copy
                              of the proposal form would be as per the revelant IRDA guidelines.
                            </p>
                            <p style="font-size: 12px;">8. I hereby confirm that I have insurable interest in the policy
                              and premium is not borne
                              by any third party entity or person.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

      <div id="myNav6" class="overlay">
        <div class="overlay-content">
          <div style="margin-top: 15%; padding: 0 15%;">
            <!-- class="container-fluid maindiv" -->
            <div class="row" style="margin-bottom: 0px;">
              <section class="container accordsec">
                <div id="accordion">
                  <div class="card" style="margin-top: 15px; background: #fff">
                    <div class="card-header">
                      <button type="button" id="btnPay" style="float: right;
                              background: transparent; outline: none;" id="btnPay" (click)="closeTerms($event)"><img
                          src="assets/images/close.png" alt="Close" /></button>
                      <a>
                        Terms & Conditions
                      </a>
                    </div>
                    <div class="collapse show">
                      <div class="card-body" style="padding: 5px 5px">
                        <div class="">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                            <p>
                              Intial Waiting Period of 30 days for all Illnesses (except Hospitalization due to
                              Accidental Injury)
                            </p>
                            <p>
                              Specific Waiting Period of first two years for specific illenesses and treatments
                              (mentioned in the policy wording)
                            </p>
                            <p>
                              Pre-existing Diseases declared and accepted by Us will be covered after completion of
                              waiting Period of two years/
                            </p>
                            <p>
                              For detailed Terms and Condition, kindly refer to the policy wordings
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</ion-content>