body {
  font-family: "Roboto", sans-serif !important;
}

.no_border {
  border: 0 !important;
}

.auto_height {
  height: auto !important;
  vertical-align: initial !important;
}

.no_padding {
  padding: 0 !important;
}

.no_margin {
  margin: 0 !important;
}

/*aside starts*/
aside.slide-menu-left {
  top: 0;
  width: 250px;
  height: 100%;
  position: fixed;
  left: -300px;
  z-index: 1050;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);
  transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);
}

aside.slide-menu-left .leftlogodiv {
  padding: 30px 15px;
  background-color: #011d36;
  text-align: center;
}

aside.slide-menu-left .leftaccordmenu {
  height: 100%;
  overflow-y: auto;
}

aside.slide-menu-left .leftaccordmenu .card {
  border: 0;
  margin: 0;
  background-color: transparent;
}

aside.slide-menu-left .leftaccordmenu .card .card-header {
  padding: 0;
  border-bottom: 0;
}

aside.slide-menu-left .leftaccordmenu .card a {
  padding: 15px 15px 15px 35px;
  border-bottom: 1px solid #b7b7b7;
  display: block;
  position: relative;
  color: #931f1f;
  font: 500 14px "Roboto", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

aside.slide-menu-left .leftaccordmenu .card a svg {
  width: 11px;
  position: absolute;
  top: 50%;
  right: 15px;
  fill: #5c5e60;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

aside.slide-menu-left .leftaccordmenu .card a img {
  padding-right: 5px;
}

aside.slide-menu-left .leftaccordmenu .card a[aria-expanded="true"] {
  background-color: #ae2221;
  color: #fff;
}

aside.slide-menu-left .leftaccordmenu .card a[aria-expanded="true"] svg {
  fill: #fff;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

aside.slide-menu-left .leftaccordmenu .leftsubmenus {
  margin: 0;
}

aside.slide-menu-left .leftaccordmenu .leftsubmenus li {
  border: 0;
}

aside.slide-menu-left .leftaccordmenu .leftsubmenus li a {
  padding: 10px 10px 10px 50px;
  display: block;
  color: #931f1f;
  font: 400 14px "Roboto", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
}

body.sml-open aside.slide-menu-left {
  left: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
}

/*aside ends*/
/*Header Starts*/
header {
  background-color: #931f1f;
}

header a.hamburger {
  width: 75px;
  height: 58px;
  padding: 19px 21px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

header a.hamburger span {
  width: 16px;
  height: 3px;
  margin-bottom: 5px;
  display: block;
  background-color: #ad2121;
}

header a.hamburger span:first-child {
  width: 23px;
}

header a.hamburger span:last-child {
  width: 8px;
}

header h1 {
  margin: 0;
  display: inline-block;
}

header h1 a {
  width: 200px;
  height: auto;
  padding: 10px 0;
  display: inline-block;
  background: url(../images/logo-white.png) no-repeat center center/contain;
  text-indent: -9999px;
  height: 50px;
}

/*Header Ends*/
/*Login Starts*/
.signdiv {
  height: 100vh;
  position: relative;
  background: #fca6a7 url(../images/login_bg.png) no-repeat;
  background-size: cover;
}

.signdiv .logodiv {
  margin: 57px 0;
}

.signdiv .logodiv a {
  display: inline-block;
}

.signdiv .formdiv {
  width: 100%;
  padding: 0 50px;
  position: absolute;
  top: 80%;
  -webkit-transform: translateY(-80%);
  transform: translateY(-80%);
}

.signdiv .formdiv h1 {
  margin: 0 0 25px;
  color: #04447e;
  font: 600 15px "Roboto", sans-serif;
}

.signdiv .formdiv .form-group {
  margin-bottom: 11px;
  position: relative;
}

.signdiv .formdiv .form-group .form-control,
.signdiv .formdiv .form-group .maindiv .accordsec .card .card-body .custom-select,
.maindiv .accordsec .card .card-body .signdiv .formdiv .form-group .custom-select {
  height: 43px;
  padding-left: 45px;
  border: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  color: #6a6a6a;
  font: normal 13px "Roboto", sans-serif;
}

.signdiv .formdiv .form-group svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.signdiv .formdiv .form-group select.form-control,
.signdiv .formdiv .form-group .maindiv .accordsec .card .card-body select.custom-select,
.maindiv .accordsec .card .card-body .signdiv .formdiv .form-group select.custom-select {
  padding-left: 0.75rem;
  background: #04447e;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #fff;
  -ms-text-align-last: center;
  text-align-last: center;
}

.signdiv .formdiv .custom-control {
  padding-right: 5px;
  margin-bottom: 20px;
}

.signdiv .formdiv .custom-control label {
  color: #04447e;
  font: normal 11px "Roboto", sans-serif;
}

.signdiv .formdiv .custom-control label:before,
.signdiv .formdiv .custom-control label:after {
  top: -3px;
}

.signdiv .formdiv .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #b02a30;
  background-color: #b02a30;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.signdiv .formdiv .loginbtn {
  height: 43px;
  border: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #931f1f;
  color: #fff;
  font: 400 13px "Roboto", sans-serif;
  outline: 0 !important;
}

/*Login Ends*/
/*Main Content Starts*/
.cstmbtn {
  min-width: 125px;
  padding: 10px 30px;
  border: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-image: linear-gradient(280deg, #ac3030, #881717);
  color: #fff;
  font: 400 14px "Roboto", sans-serif;
  outline: 0 !important;
  text-decoration: none;
}

.cstmbtn:hover {
  background: #931f1f;
  color: #fff;
  text-decoration: none;
}

.maindiv {
  min-height: 100vh;
  padding-top: 68px;
  margin-top: 20px;
  background: #fffbf9 url(../images/desktop_bg.jpg) no-repeat fixed left bottom/cover;
}

.maindiv .headingsec {
  padding: 13px;
}

.maindiv .headingsec h2 {
  margin: 0;
  color: #063b6d;
  font: 500 20px "Roboto", sans-serif;
  text-transform: capitalize;
}

.maindiv .accordsec {
  margin-bottom: 30px;
  /* width:80%; */
}

.maindiv .accordsec .card {
  border: 0;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: transparent;
}

.maindiv .accordsec .card label {
  color: #ad2121;
  font: normal 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-header {
  padding: 0;
  border: solid 1px #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 3px 0 #6e0000;
  -webkit-box-shadow: 5px 5px 3px 0 #6e0000;
  -moz-box-shadow: 5px 5px 3px 0 #6e0000;
}

.maindiv .accordsec .card .card-header a {
  padding: 14px 14px 14px 80px;
  display: block;
  color: #ad2121;
  font: 600 16px "Roboto", sans-serif;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-header a.card-link {
  background: url(../images/minus.png) no-repeat 98.5% center;
}

.maindiv .accordsec .card .card-header a.card-link.collapsed {
  background: url(../images/plus.png) no-repeat 98.5% center;
}

.maindiv .accordsec .card .card-body {
  margin-top: 7px;
  padding: 15px 70px 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 12px 10px 6px 0 rgba(110, 0, 0, 0.65);
  -webkit-box-shadow: 12px 10px 6px 0 rgba(110, 0, 0, 0.65);
  -moz-box-shadow: 12px 10px 6px 0 rgba(110, 0, 0, 0.65);
}

.maindiv .accordsec .card .card-body.cstmbody {
  padding: 15px 15px 10px;
}

.maindiv .accordsec .card .card-body .dob label {
  margin: 0;
}

.maindiv .accordsec .card .card-body .dob .form-control,
.maindiv .accordsec .card .card-body .dob .custom-select {
  padding-left: 0;
  border: 0;
  background: transparent url(../images/calendar.png) no-repeat right center;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #4b4b4b;
  font: normal 28px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .rangediv strong {
  display: block;
  color: #4b4b4b;
  font: 500 28px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .rangediv span {
  color: #4b4b4b;
  font: normal 15px "Roboto", sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"] {
  background-color: transparent !important;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-moz-range-thumb {
  background: #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-moz-range-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-ms-thumb {
  background: #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-ms-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]:focus::-ms-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff;
  background: #931f1f;
  margin-top: -6px;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-webkit-slider-runnable-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .custom-select {
	/**Changes**/
  padding-right: 0px;
  background: url(../images/down_arrow.png) no-repeat  center right/14px !important;
}

.maindiv .accordsec .card .card-body .statediv select {
  padding-left: 0;
  border: 0;
  background-color: transparent;
  color: #4b4b4b;
  font: normal 26px "Roboto", sans-serif;
  background: url(../images/down_arrow.png) no-repeat right center/14px;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .card .card-body .statediv select option {
  font-size: 15px;
}

.maindiv .accordsec .card .card-body .statediv select:disabled {
  background: none;
}

.maindiv .accordsec .card .card-body .form-control,
.maindiv .accordsec .card .card-body .custom-select {
  padding-left: 0;
  border: 0;
  background: transparent;
  color: #4b4b4b;
  font: 500 20px "Roboto", sans-serif;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .card .card-body .form-control#annSuminsured,
.maindiv .accordsec .card .card-body #annSuminsured.custom-select {
  padding-left: 15px;
  background: url(../images/rupee.png) no-repeat left center;
}

.maindiv .accordsec .card .card-body .chkboxdiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .chkboxdiv input:checked + label {
  background: url(../images/man_check.png) no-repeat center center;
}


.maindiv .accordsec .card .card-body .chkboxdiv .form-check-inline {
  margin-right: 10px;
}

.maindiv .accordsec .card .card-body .chkboxdiv label {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(../images/man_uncheck.png) no-repeat center center;
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .chkboxdiv.chldbox input:checked + label {
  background: url(../images/child_check.png) no-repeat center center;
}

.maindiv .accordsec .card .card-body .chkboxdiv.chldbox label {
  background: url(../images/child_uncheck.png) no-repeat center center;
}

.maindiv .accordsec .card .card-body .radioboxdiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .radioboxdiv input:checked + label {
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .radioboxdiv .form-check-inline {
  margin-right: 10px;
}

.maindiv .accordsec .card .card-body .radioboxdiv label {
  display: inline-block;
  font: 500 16px "Roboto", sans-serif;
  color: rgba(75, 75, 75, 0.5);
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .tablediv {
  padding-top: 15px;
  border-top: 2px solid #d5c8c1;
  margin-top: 15px;
}

.maindiv .accordsec .card .card-body .tablediv h3 {
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #4b4b4b;
  font: 500 18px "Roboto", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body .tablediv table {
  width: 100%;
  margin: 0 0 18px;
  border-collapse: separate;
  border-spacing: 4px;
}

.maindiv .accordsec .card .card-body .tablediv table thead tr th {
  border: 0;
  color: #b02929;
  font: normal 15px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv table thead tr th:nth-child(2) {
  padding-left: 70px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td {
  padding: 8px;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #5f5953;
  font: normal 15px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td input {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td input:checked + label {
  background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/13px;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td label {
  width: 36px;
  height: 36px;
  margin: 0;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.65) url(../images/uncheck.png) no-repeat center center/13px;
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
  width: 36px;
  padding: 0;
  border: 0;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td:nth-child(2) {
  padding-left: 25px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td {
  padding: 20px 0 0 45px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
  display: inline-block;
  color: #4b4b4b;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong:first-child {
  margin-bottom: 15px;
}

.maindiv .accordsec .card .card-body .tablediv2 table {
  width: 100%;
  margin: 0 0 18px;
  border-collapse: separate;
}

.maindiv .accordsec .card .card-body .tablediv2 table thead tr th {
  padding: 12px;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  color: #962121;
  font: 500 15px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .tablediv2 table thead tr th:first-child {
  background-color: transparent;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody th.mb_head {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr th {
  padding: 8px;
  font: 500 15px "Roboto", sans-serif;
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr td {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.26);
  font: 500 15px "Roboto", sans-serif;
  color: #4b4b4b;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child th {
  color: #952020;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child td {
  font-size: 23px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td input {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td input:checked + label {
  border: solid 2px #982222;
  background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/16px;
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td label {
  width: 100%;
  height: 40px;
  border: solid 1px rgba(152, 34, 34, 0.45);
  margin-top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .premTable {
  width: 100%;
  display: inline-table;
}

.maindiv .accordsec .card .card-body .premTable thead tr th {
  color: #012b51;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td {
  padding: 5px;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td svg {
  width: 19px;
  margin-right: 5px;
  vertical-align: -1px;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td strong {
  color: #4b4b4b;
  font: 500 37px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td label {
  margin: 0 5px 0 0;
  color: #727374;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td svg {
  width: 12px;
  vertical-align: -1px;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td span {
  color: #0f0f0f;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table thead tr th {
  font-size: 13px;
  text-align: center;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table thead tr th:nth-child(2) {
  padding: 0;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table tbody tr td {
  font-size: 13px;
  text-align: center;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table tbody tr td:nth-child(2) {
  padding: 8px;
}
.maindiv .accordsec .card .card-body .agreeTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}
.maindiv .accordsec .card .card-body .agreeTable tr td:first-child input:checked + label {
  background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/13px;
}
.maindiv .accordsec .card .card-body .agreeTable tr td:first-child label {
  width: 36px;
  height: 36px;
  margin: 0;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.65) url(../images/uncheck.png) no-repeat center center/13px;
  cursor: pointer;
  vertical-align: top;
}

/*Main Content Starts*/
/*Calculate Premium Starts*/
.premiumdiv {
  min-height: 100vh;
  position: relative;
  background: #fca6a7 url(../images/mobile_bg.jpg) no-repeat fixed;
  background-size: cover;
}

.premiumdiv h2 {
  margin: 100px 0 0;
  color: #04447e;
  font: 600 16px "Roboto", sans-serif;
  text-transform: capitalize;
}

.premiumdiv .formdiv {
  width: 100%;
  position: absolute;
  top: 73%;
  left: 0;
  -webkit-transform: translateY(-70%);
  transform: translateY(-70%);
}

.premiumdiv .formdiv .innerdiv {
  width: 100%;
  height: 240px;
  margin-bottom: 60px;
  background: url(../images/city.png) no-repeat center center/contain;
}

.premiumdiv .formdiv .innerdiv .vehiclediv {
  width: 312px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  background: url(../images/car.png) no-repeat center center/contain;
}

.premiumdiv .formdiv .innerdiv .vehiclediv input {
  width: 145px;
  height: 30px;
  padding: 5px;
  border: solid 1px #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: absolute;
  top: 67%;
  left: 50%;
  color: #343434;
  font: 500 13px "Roboto", sans-serif;
  outline: 0 !important;
  text-align: center;
  -webkit-transform: translate(-50%, -67%);
  transform: translate(-50%, -67%);
}

.premiumdiv .formdiv.twowheldiv {
  margin: 45px 0;
  position: static;
  -webkit-transform: none;
  transform: none;
}

.premiumdiv .formdiv.twowheldiv .innerdiv {
  height: 358px;
}

.premiumdiv .formdiv.twowheldiv .innerdiv .vehiclediv {
  height: 358px;
  background: url(../images/bike.png) no-repeat center center/contain;
}

.premiumdiv .formdiv.twowheldiv .innerdiv .vehiclediv input {
  top: 42%;
  -webkit-transform: translate(-50%, -42%);
  transform: translate(-50%, -42%);
}

.maindiv .tabpanediv ul {
  margin-bottom: 25px;
}
.maindiv .tabpanediv ul li a {
  padding: 7px 50px;
  /* border-bottom: 1px solid rgba(75, 75, 75, 0.2); */
  border: solid 1px #931f1f;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin: 5px 5px;
  color: rgba(75, 75, 75, 0.5);
  font: 500 18px "Roboto", sans-serif;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgba(75, 75, 75, 0.5);
  background-color: transparent;
}
.maindiv .tabpanediv ul li a.active {
  border-bottom: 1px solid #373c47;
  border: solid 1px #931f1f;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #931f1f;
  color: #4b4b4b;
}
.card {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.maindiv .accordsec .card .card-body h4 {
  margin: 0 0 15px;
  color: #ad2121;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.maindiv .accordsec .card .card-body .searchbox {
  padding-left: 30px;
  background: url(../images/search.png) no-repeat left 11px/20px;
}

.maindiv .accordsec .card .card-body .searchbox input {
  border-bottom: 1px solid #E4D2C5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font: 400 16px "Roboto", sans-serif;
}

/*Calculate Premium Ends*/
/*Media Queries Starts*/
@media only screen and (min-width: 993px) {
  .container {
    width: 85% !important;
  }
  @media (max-width: 991px) {
  }
  .maindiv .accordsec .card .card-header a {
    padding: 14px 14px 14px 40px;
    background-position: 97% center !important;
  }
  .maindiv .accordsec .card .card-body {
    /* padding: 15px 30px 35px; */
  }
  .maindiv .accordsec .card .card-body .tablediv table thead tr th:nth-child(2) {
    padding-left: 25px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
    vertical-align: top;
  }
  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td {
    padding: 15px 0 0 0;
  }
}

@media (max-width: 767px) {
  .maindiv .accordsec .card .card-body .dob .form-control,
  .maindiv .accordsec .card .card-body .dob .custom-select {
    background-size: 20px;
    font-size: 20px;
  }
  .maindiv .accordsec .card .card-body .statediv select {
    background-size: 10px;
    font-size: 20px;
  }
  .maindiv .accordsec .card .card-body .rangediv strong {
    font-size: 20px;
  }
  .maindiv .accordsec .card .card-body .rangediv span {
    font-size: 12px;
  }
  .maindiv .accordsec .card .card-body .tablediv {
    margin-top: 5px;
  }
  .maindiv .accordsec .card .card-body .tablediv h3 {
    font-size: 15px;
  }
  .maindiv .accordsec .card .card-body .tablediv table thead tr th {
    font-size: 14px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td {
    font-size: 14px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:nth-child(2) {
    padding-left: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  header {
    background: rgba(255, 255, 255, 0.45) url(../images/header_bg.png) no-repeat left/cover;
    box-shadow: 0 8px 6px 0 rgba(144, 53, 55, 0.38);
    -webkit-box-shadow: 0 8px 6px 0 rgba(144, 53, 55, 0.38);
    -moz-box-shadow: 0 8px 6px 0 rgba(144, 53, 55, 0.38);
    text-align: center;
  }
  header h1 a {
    width: 150px;
    padding: 5px 0;
    background: url(../images/logo.png) no-repeat center center/contain;
  }
  .maindiv {
    padding-top: 78px;
    background: url(../images/mobile_bg.jpg) no-repeat fixed left top/cover;
  }
  .maindiv .headingsec {
    text-align: center;
  }
  .maindiv .headingsec h2 {
    font-size: 18px;
  }
  .maindiv .accordsec .card .card-header a {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-size: 12px !important;
    background-position: 95% center !important;
  }
  .maindiv .accordsec .card .card-body {
    padding: 15px 15px 20px;
  }
  .maindiv .accordsec .card .card-body label {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body div .form-control,
  .maindiv .accordsec .card .card-body div .custom-select,
  .maindiv .accordsec .card .card-body div .custom-select {
    height: 35px !important;
    font-size: 14px !important;
  }
  .maindiv .accordsec .card .card-body .statediv label {
    margin: 0;
  }
  .maindiv .accordsec .card .card-body .rangediv strong {
    font-size: 15px;
  }
  .maindiv .accordsec .card .card-body .rangediv span {
    font-size: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv h3 {
    font-size: 13px;
  }
  .maindiv .accordsec .card .card-body .tablediv table thead tr th {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
    width: 30px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child label {
    width: 30px;
    height: 30px;
    background-size: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child input:checked + label {
    background-size: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table thead tr th {
    padding: 10px 8px;
    font-size: 12px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody th.mb_head {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    text-align: center;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr:nth-last-child(2) th.mb_head {
    color: #952020;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child td {
    font-size: 18px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr td {
    font-size: 13px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td label {
    height: 33px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td input:checked + label {
    background-size: 13px !important;
  }
  .maindiv .accordsec .card .card-body .premTable tbody tr td strong {
    font-size: 27px;
  }
  .maindiv .accordsec .card .card-body .premTable tbody tr td svg {
    width: 14px;
  }
  .maindiv .accordsec .card .card-body.cstmbody {
    padding: 10px 10px 0;
  }
  .maindiv .accordsec .card .form-group {
    margin-bottom: 5px;
  }
}

@media (max-width: 470px) {
  .maindiv .accordsec .card .card-body .chkboxdiv {
    margin: 0 -5px;
  }
  .maindiv .accordsec .card .card-body .chkboxdiv label {
    width: 35px;
    height: 35px;
    background-size: 35px !important;
  }
  .maindiv .accordsec .card .card-body .chkboxdiv input:checked + label {
    background-size: 35px !important;
  }
  .maindiv .accordsec .card .card-body .chkboxdiv .form-check-inline {
    margin-right: 0;
  }
  .cstmbtn {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width: 354px) {
  .maindiv .accordsec .card .card-body label {
    height: 26px;
    vertical-align: top;
  }
  .maindiv .accordsec .card .card-body .radioboxdiv label {
    height: auto;
    font-size: 14px;
  }
  .maindiv .accordsec .card .card-body .premTable tfoot tr td span {
    vertical-align: top;
  }
  .maindiv .accordsec .card .card-body .premTable tfoot tr td svg {
    vertical-align: text-top;
  }
}





/*Media Queries Ends*/
/*# sourceMappingURL=style.css.map */
