<head>
  <title>Payment Generation - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
</head>

<body>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div>
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <!-- <div class="col-2 text-center twobtns">
            <a (click)="home($event)" class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
          </div> -->
        </div>
      </div>
    </div>
  </header>
  <ion-content>
    <div class="container-fluid maindiv">
      <div class="row" style="margin-bottom: 0px;">
        <section class="container headingsec">
          <h2>Payment Generation</h2>
        </section>
        <section class="container accordsec">
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a id="details">Congratulation!</a>
              </div>
              <div class="card-body">
                <div class="text-center msgdiv">
                  <span id="message" class="successMsg">Your cheque details have been saved successfully</span>
                </div>
                <div class="tab-pane active">
                  <form [formGroup]="chequeConfForm">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                      <label for="polnum" class="auto_height no_margin">Proposal Number</label>
                      <input type="text" class="form-control" id="polnum" formControlName="proposalNumber" disabled="disabled">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                      <label for="propnum" class="auto_height no_margin">PF Proposal Number</label>
                      <input type="text" class="form-control" id="propnum" formControlName="pfProposalNumber" disabled="disabled">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group" *ngIf="proposalRequest.ProductType == 'PPAP'">
                        <label for="polnum" class="auto_height no_margin">Proposal Number of PPAP</label>
                        <input type="text" class="form-control" id="polnum" formControlName="proposalNumber" disabled="disabled">
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group" *ngIf="proposalRequest.ProductType == 'PPAP'">
                        <label for="propnum" class="auto_height no_margin">PF Proposal Number of PPAP</label>
                        <input type="text" class="form-control" id="propnum" formControlName="pfProposalNumber" disabled="disabled">
                      </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group rupee">
                      <label for="txtPrem" class="auto_height no_margin">Cheque Number</label>
                      <input type="text" class="form-control" id="propnum" formControlName="chequeNumber" disabled="disabled">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                      <label for="polStrtDate" class="auto_height no_margin">Bank</label>
                      <input type="text" class="form-control" id="propnum" formControlName="bank" disabled="disabled">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                      <label for="polEndDate" class="auto_height no_margin">Date</label>
                      <input type="text" class="form-control" id="propnum" formControlName="chequeDate" disabled="disabled">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                        <label for="polEndDate" class="auto_height no_margin">Amount</label>
                        <input type="text" class="form-control rupeesmbl" id="propnum" formControlName="chequeAmount" disabled="disabled">
                      </div>
                  </div>
                </form>
                  <div class="text-center">
                    <button type="button" id="btnDownPdf" class="cstmbtn" (click)="downloadPdf($event)">Download Pay Slip</button>
                    <!-- <button type="button" id="btnHome" class="cstmbtn">Home</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </ion-content>
  <script src="assets/js/classie.js"></script>
  <script>
    (function (window) {
      'use strict';
      var body = document.body,
        mask = document.createElement("div"),
        toggleSlideLeft = document.querySelector(".toggle-slide-left"),
        activeNav;
      mask.className = "mask";

      /* slide menu left */
      toggleSlideLeft.addEventListener("click", function () {
        classie.add(body, "sml-open");
        document.body.appendChild(mask);
        activeNav = "sml-open";
      });

      /* hide active menu if mask is clicked */
      mask.addEventListener("click", function () {
        classie.remove(body, activeNav);
        activeNav = "";
        document.body.removeChild(mask);
      });

      /* hide active menu if close menu button is clicked */
      [].slice.call(document.querySelectorAll(".close-menu")).forEach(function (el, i) {
        el.addEventListener("click", function () {
          classie.remove(body, activeNav);
          activeNav = "";
          document.body.removeChild(mask);
        });
      });
    })(window);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>