<head>
  <title>Travel Quick Quote - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
  <script>
    function myFunction() {
      var x = document.getElementById("travellersrange").value;
      document.getElementById("travellersvalue").innerHTML = x;
    }
  </script>
</head>

<body>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <!-- <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div> -->
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <!-- <div class="col-2 text-center twobtns">
            <a (click)="home($event)" class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
          </div> -->
        </div>
      </div>
    </div>
  </header>
  <ion-content>
    <div class="container-fluid maindiv">
      <div class="row" style="margin-bottom: 0px;">
        <section class="container headingsec">
          <h2>travel</h2>
        </section>
        <section class="container accordsec">
          <form [formGroup]="travelForm">
            <div id="accordion">
              <div class="card">
                <div class="card-header" (click)="showQuoteDetails($event)">
                  <a class="card-link" id="quoteDetails">
                    quote details
                  </a>
                </div>
                <div class="collapse show" *ngIf="isQuoteDetails">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group">
                        <label for="prdName" class="auto_height label1">Product Name</label>
                        <select id="prdName" class="custom-select select1" formControlName="productName">
                          <option class="optionBG" value="internationalTravel">International Travel</option>
                          <!-- <option class="optionBG" value="studentTravel">Student Travel</option> -->
                        </select>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group">
                        <label for="prdSubtype" class="auto_height label1">Product Subtype</label>
                        <select id="prdSubtype" class="custom-select select1" formControlName="subProduct"
                          (change)="changeSubProduct($event)" [value]='0'>
                          <option class="optionBG" value="0">Select Subtype</option>
                          <option class="optionBG" value="Individual">Individual</option>
                          <option class="optionBG" value="Family">Family</option>
                          <option class="optionBG" value="Senior Citizen">Senior Citizen</option>
                        </select>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group">
                        <label for="custStategst" class="auto_height  label1">Customer State (Applicable for
                          GST)</label>&nbsp;&nbsp;
                        <!-- <span *ngIf="inputLoadingState"><img style="width:15%;"
                            src="http://loadinggif.com/images/image-selection/3.gif" /></span> -->
                        <select id="custStategst" class="custom-select select1" formControlName="state"
                          (change)="getStateDetails($event)" [value]='0'>
                          <option class="optionBG" value="0">Select State</option>
                          <option class="optionBG" value={{state.StateName}} *ngFor="let state of stateMaster">
                            {{state.StateName}}</option>
                        </select>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group"
                        *ngIf="isKerala && isKeralaCessEnabled">
                        <label class="auto_height label1">Are you registered with GST?</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="yesGST" name="isKerala" value="yes" />
                            <label for="yesGST" (click)="isKeralaGST('Yes')">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="noGST" name="isKerala" value="no" />
                            <label for="noGST" (click)="isKeralaGST('No')">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row"
                      *ngIf="travelForm.value.subProduct == 'Individual' || travelForm.value.subProduct == 'Family' || travelForm.value.subProduct == 'Senior Citizen'"
                      style="padding-left: 15px; padding-right: 15px;">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group"
                        *ngIf="subProduct == 'Individual'">
                        <label class="auto_height label1">Trip Type</label>
                        <div class="travelradiodiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="triptypeRound" name="triptype" (click)="changeTrip($event)"
                              checked="checked" />
                            <label for="triptypeRound">Round Trip</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="triptypeMulti" name="triptype" (click)="changeTrip($event)" />
                            <label for="triptypeMulti">Multi-Trip</label>
                          </div>
                
                          <small style="margin-top: 10px;" *ngIf="isMultiTrip">Note: Gold Multi Trip policy is not valid for Schengen
                            Countrires,
                            Seperate Schengen compliant single trip policy is required for Schengen
                            travellers.</small>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group"
                        *ngIf="!isMultiTrip || subProduct == 'Family'">
                        <label class="auto_height label1">Select Your Travel Location</label>
                        <!--<table class="agreeTable">
                          <tbody>
                            <tr>
                              <td>
                                <input type="checkbox" id="USAorCANADA" (change)="getTravelLoc($event)">
                                <label for="USAorCANADA" style="border-radius: 100%;"></label>
                              </td>
                              <td>
                                <label for="USAorCANADA" class="auto_height">USA or Canada</label>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" id="SCHENGEN" (change)="getTravelLoc($event)">
                                <label for="SCHENGEN" style="border-radius: 100%;"></label>
                              </td>
                              <td>
                                <label for="SCHENGEN" class="auto_height">Schengen Countries</label>
                              </td>
                              <td class="auto_height"><small><b>List of Countries</b></small></td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" id="OTHER" (change)="getTravelLoc($event)">
                                <label for="OTHER" style="border-radius: 100%;"></label>
                              </td>
                              <td>
                                <label for="OTHER" class="auto_height">Other Countries</label>
                              </td>
                            </tr>
                          </tbody> 
                        </table> -->
                        <!-- <div class="funkyradio">
                            <div class="funkyradio-default">
                              <input type="radio" name="radio" id="USAorCANADA" (change)="getTravelLoc($event)" />
                              <label for="USAorCANADA" class="auto_height">&nbsp;&nbsp;USA or Canada</label>
                            </div>
                            <div class="funkyradio-primary">
                              <input type="radio" name="radio" id="SCHENGEN" checked (change)="getTravelLoc($event)" />
                              <label for="SCHENGEN" class="auto_height">&nbsp;&nbsp;Schengen Countries</label>
                            </div>
                            <div class="funkyradio-default" (click)="getList($event)">
                              <label>Country List</label>
                            </div>
                            <div class="funkyradio-success">
                              <input type="radio" name="radio" id="OTHER" (change)="getTravelLoc($event)" />
                              <label for="OTHER" class="auto_height">&nbsp;&nbsp;Other Countries</label>
                            </div>
                          </div> -->
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                            <div class="radioboxdiv2">
                              <ul>
                                <li>
                                  <input type="radio" id="radioEmail" name="radsendvia" />
                                  <label for="radioEmail" (click)="getTravelLoc('USAorCANADA')">USA or Canada</label>
                                </li>
                              </ul>
                              <ul>
                                <li>
                                  <input type="radio" id="radioMob" name="radsendvia" />
                                  <label for="radioMob" (click)="getTravelLoc('SCHENGEN')">Schengen Countries</label>
                                </li>
                              </ul>
                              <!-- <ul>
                                  <li (click)="getList($event)"> -->
                              <label style="padding-left: 5%;" (click)="getList($event)">Country List</label>
                              <!-- </li>
                                </ul> -->
                              <ul>
                                <li>
                                  <input type="radio" id="radioMob1" name="radsendvia" />
                                  <label for="radioMob1" (click)="getTravelLoc('OTHER')">Other Countries</label>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group"
                        *ngIf="!isMultiTrip || subProduct == 'Family'">
                        <label>Are the traveller visiting on an Immigrant Visa?</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="yes" name="isImmigrant" value="yes" />
                            <label for="yes" (click)="seeImmigrant($event)">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="no" name="isImmigrant" value="no" checked />
                            <label for="no" (click)="seeImmigrant($event)">No</label>
                          </div>
                          <small *ngIf="isImmigrant">Maximum trip duration for policy on immigration visa is 90
                            days</small>
                        </div>
                      </div>
                      <!-- <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-7 form-group dob2"
                          *ngIf="(subProduct == 'Individual' && !isMultiTrip)  || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                          <label for="leaveIndiaOn" class="auto_height">Leaving India On<span style="color: red;"
                              *ngIf="(travelForm.controls['leavingDate'].invalid && isCategoryValidation)">*&nbsp;This
                              field is required</span></label>
                          <input type="date" class="form-control" min={{minDate}} formControlName="leavingDate"
                            (change)="getMaxDate($event)" placeholder="DD/MM/YY" />
                        </div> -->
                      <!--Date and Time picker in popup -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="(subProduct == 'Individual' && !isMultiTrip)  || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                        <label for="leaveIndiaOn" class="auto_height label1" style="padding-right: 32%;">Leaving India
                          On</label>
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [min]="minDate"
                            [matDatepicker]="picker" formControlName="leavingDate" (dateChange)="getMaxDate($event)">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <!-- [isDisabled]="false" [outsideClick]="false" [bsConfig]="datePickerConfig" bsDatepicker  -->
                      <!-- <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-7 form-group dob2"
                          *ngIf="(subProduct == 'Individual' && !isMultiTrip)  || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                          <label for="returnIndiaOn" class="auto_height">Returning India On<span style="color: red;"
                              *ngIf="(travelForm.controls['returningDate'].invalid && isCategoryValidation)">*&nbsp;This
                              field is required</span></label>
                          <input type="date" id="returnIndiaOn" class="form-control" min={{minDate1}} max={{maxDate}}
                            formControlName="returningDate" (change)="getReturnDate($event)" placeholder="DD/MM/YY" />
                        </div> -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="(subProduct == 'Individual' && !isMultiTrip)  || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                        <label for="returnIndiaOn" class="auto_height label1" style="padding-right: 32%;">Returning
                          India
                          On</label>
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [min]="minDate1"
                            [max]="maxDate" [matDatepicker]="picker" formControlName="returningDate"
                            (dateChange)="getReturnDate($event)">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="(subProduct == 'Individual' && !isMultiTrip) || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                        <label for="prdName" class="auto_height label1">Trip Duration ( Days )</label>
                        <input class="form-control" formControlName="noOfTripDays" (change)="getReturningDate($event)"
                          style="background: none;" />
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group" *ngIf="isMultiTrip">
                        <label for="maxTrpDura" class="auto_height label1">Maximum trip duration</label>
                        <select id="maxTrpDura" formControlName="tripDuration" class="custom-select select1"
                          [value]='null'>
                          <option class="optionBG" value="null" selected>Select Trip Duration</option>
                          <option class="optionBG" value="30">30 Days</option>
                          <option class="optionBG" value="40">45 Days</option>
                          <option class="optionBG" value="60">60 Days</option>
                        </select>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group"
                        *ngIf="subProduct == 'Senior Citizen'">
                        <label class="auto_height label1">Type of Coverage</label>
                        <div class="travelradiodiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="individualPlan" name="coveragetype" (click)="getCover($event)"
                              checked="checked" />
                            <label for="individualPlan"
                              style="background: none; text-align:center; padding-left:10px;">Individual Plan</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="familyPlan" name="coveragetype" (click)="getCover($event)" />
                            <label for="familyPlan"
                              style="background: none; text-align:center; padding-left:10px;">Family Plan</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group"
                        *ngIf="subProduct == 'Senior Citizen' && isFamilyCover">
                        <label class="auto_height label1">Type of Cover Needed</label>
                        <div class="travelradiodiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="individualPlan1" name="coverNeeded"
                              checked="checked" readonly />
                            <label for="individualPlan1"
                              style="background: none; text-align:center; padding-left:10px;">Individual Plan</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2" *ngIf="isMultiTrip">
                        <label for="polStartDte" class="auto_height label1" style="padding-right: 32%;">Policy Start
                          Date</label>
                        <!-- <input type="date" id="polStartDte" class="form-control" placeholder="DD/MM/YY"
                            min={{minDate}} formControlName="policyStartDate" (change)="selectStartDate($event)" /> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [min]="minDate"
                            [matDatepicker]="picker" formControlName="policyStartDate"
                            (dateChange)="selectStartDate($event)">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group"
                        *ngIf="isMultiTrip || subProduct == 'Family' || (subProduct == 'Senior Citizen' && isFamilyCover)">
                        <label for="sirange">Number Of Travellers</label>
                        <div class="rangediv"
                          *ngIf=" (!isFamilyCover && subProduct == 'Senior Citizen') || subProduct == 'Individual'">
                          <strong id="travellersvalue" class="text-center">{{noOfTraveller}}</strong>
                          <input type="range" class="custom-range" min="1" max="6" value="1" step="1"
                            id="travellersrange" (change)="noOfTravellerChange($event)" />
                          <span>01</span> <span class="float-right">06</span>
                        </div>
                        <div class="rangediv"
                          *ngIf="(subProduct == 'Senior Citizen' && isFamilyCover) || subProduct == 'Family'">
                          <strong id="travellersvalue" class="text-center">{{noOfTraveller}}</strong>
                          <input type="range" class="custom-range" min="2" max="6" value="2" step="1"
                            id="travellersrange" (change)="noOfTravellerChange($event)" />
                          <span>02</span> <span class="float-right">06</span>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2">
                        <label for="trvlDOB1" class="auto_height label1" style="padding-right: 32%;">Travel 01 Date of
                          Birth</label>
                        <!-- <input type="date" id="trvlDOB1" formControlName="traveller1DOB" class="form-control"
                            placeholder="DD/MM/YY" max={{minDOB}} (Change)="traveller1DOB($event)" /> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [max]="minDOB"
                            [matDatepicker]="picker" formControlName="traveller1DOB">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="((isMultiTrip && traveller2) || subProduct == 'Family') || (isFamilyCover && subProduct == 'Senior Citizen')">
                        <label for="trvlDOB2" class="auto_height label1" style="padding-right: 32%;">Travel 02 Date of
                          Birth</label>
                        <!-- <input type="date" id="trvlDOB2" formControlName="traveller2DOB" class="form-control"
                            placeholder="DD/MM/YY" max={{minDOB}} /> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [max]="minDOB"
                            [matDatepicker]="picker" formControlName="traveller2DOB">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="(isMultiTrip && traveller3) || (subProduct == 'Family' && traveller3) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller3)">
                        <label for="trvlDOB3" class="auto_height label1" style="padding-right: 32%;">Travel 03 Date of
                          Birth</label>
                        <!-- <input type="date" id="trvlDOB3" max={{minDOB}} formControlName="traveller3DOB"
                            class="form-control" placeholder="DD/MM/YY" /> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [max]="minDOB"
                            [matDatepicker]="picker" formControlName="traveller3DOB">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="(isMultiTrip && traveller4) || (subProduct == 'Family' && traveller4) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller4)">
                        <label for="trvlDOB4" class="auto_height label1" style="padding-right: 32%;">Travel 04 Date of
                          Birth</label>
                        <!-- <input type="date" id="trvlDOB4" max={{minDOB}} formControlName="traveller4DOB"
                            class="form-control" placeholder="DD/MM/YY" /> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [max]="minDOB"
                            [matDatepicker]="picker" formControlName="traveller4DOB">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="(isMultiTrip && traveller5) || (subProduct == 'Family' && traveller5) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller5)">
                        <label for="trvlDOB5" class="auto_height label1" style="padding-right: 32%;">Travel 05 Date of
                          Birth</label>
                        <!-- <input type="date" id="trvlDOB5" max={{minDOB}} formControlName="traveller5DOB"
                            class="form-control" placeholder="DD/MM/YY" /> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [max]="minDOB"
                            [matDatepicker]="picker" formControlName="traveller5DOB">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group dob2"
                        *ngIf="(isMultiTrip && traveller6) || (subProduct == 'Family' && traveller6) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller6)">
                        <label for="trvlDOB6" class="auto_height label1" style="padding-right: 32%;">Travel 06 Date of
                          Birth</label>
                        <!-- <input type="date" id="trvlDOB6" max={{minDOB}} formControlName="traveller6DOB"
                            class="form-control" placeholder="DD/MM/YY" /> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [max]="minDOB"
                            [matDatepicker]="picker" formControlName="traveller6DOB">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group">
                        <label for="selctdPlan" class="auto_height label1">Plan Selected</label>&nbsp;&nbsp;<span
                          *ngIf="inputLoadingPlan"><img style="width:5%;"
                            src="http://loadinggif.com/images/image-selection/3.gif" /></span>
                        <select id="selctdPlan" formControlName="plan" class="custom-select select1"
                          [ngClass]="{ 'is-invalid': (submitted || travelForm.controls['plan'].touched)  && travelForm.controls['plan'].errors }"
                          (change)="getPlanDetail($event)" [value]="0">
                          <option class="optionBG" value="0" selected>Select Plan Type</option>
                          <option class="optionBG" *ngFor="let plan of plans">{{plan.PlanName}}</option>
                        </select>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 form-group">
                        <label class="invisible d-none d-sm-block">lbl</label>
                        <table class="agreeTable">
                          <tbody>
                            <tr>
                              <td>
                                <input type="checkbox" id="needAddCvr">
                                <label for="needAddCvr" (click)="toggleAddOn($event)"></label>
                              </td>
                              <td>
                                <label for="needAddCvr" class="auto_height label1" (click)="toggleAddOn($event)">Need
                                  Additional Cover</label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div id="collapseTwo" *ngIf="showAddOn">
                          <table class="agreeTable">
                            <tbody>
                              <tr>
                                <td>
                                  <input type="checkbox" id="semiProSports">
                                  <label for="semiProSports" style="border-radius: 100%;"
                                    (click)="selectAddOn($event)"></label>
                                </td>
                                <td>
                                  <label for="semiProSports" class="auto_height label1"
                                    (click)="selectAddOn($event)">Semi
                                    Professional Sports</label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="checkbox" id="advantureSport">
                                  <label for="advantureSport" style="border-radius: 100%;"
                                    (click)="selectAddOn($event)"></label>
                                </td>
                                <td>
                                  <label for="advantureSport" class="auto_height label1"
                                    (click)="selectAddOn($event)">Adventure Sports</label>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>
                    <!-- <p *ngIf='showCoronaDisclaimer'>
                      Disclaimer:
                    </p>
                    <p *ngIf='showCoronaDisclaimer'>
                      Due to the current outbreak of novel coronavirus (2019-nCoV), we are not issuing travel
                      policies to China, Hong Kong, Singapore and Thailand.
                      It is recommended that you avoid travelling to the mentioned countries till the globally
                      declared health emergency is active
                    </p>
                    <p *ngIf='showCoronaDisclaimer'>
                      Declaration:
                    </p>
                    <p *ngIf='showCoronaDisclaimer'>Insured is not travelling to any of the above mentioned list of
                      countries.</p> -->

                    <!-- <div class="radioboxdiv" *ngIf='showCoronaDisclaimer'>
                      <div class="form-check form-check-inline">
                        <input class="form-control" type="radio" id="diseasesHabitsYes" name="diseasesHabits"
                          (click)="getCoronaDisclaimer(true)" checked="checked" />
                        <label class="auto_height" for="diseasesHabitsYes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-control" type="radio" id="diseasesHabitsno" name="diseasesHabits"
                          (click)="getCoronaDisclaimer(false)" />
                        <label class="auto_height" for="diseasesHabitsno">No</label>
                      </div>
                    </div> -->
                    <div class="text-center" *ngIf="travelForm.value.subProduct">
                      <!-- <button type="button" id="btnRecalc" class="cstmbtn"
                        (click)="finalValidation($event)">Re-Calculate</button> -->
                      <button type="button" id="btnRecalc" class="cstmbtn" (click)="finalValidation($event)">Get
                        Quote</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf='isQuoteGenerated'>
                <div class="card-header" (click)="showPremiumDetails($event)">
                  <a class="card-link" id="premiumDetails">
                    premium details
                  </a>
                </div>
                <div class="collapse show" *ngIf="isPremiumDetails">
                  <div class="card-body">
                    <div class="">
                      <table class="premTable">
                        <thead>
                          <tr>
                            <th class="text-center" colspan="2">
                              Total Premium Amount
                              <!-- <a  title="Share" class="float-right">
                                      <img src="assets/travel/images/share.png" alt="Share" />
                                    </a> -->
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center" colspan="2">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.333 24.053">
                                <path
                                  d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z"
                                  fill="#4b4b4b" /></svg>
                              <strong *ngIf = "tripType == 'Round Trip' && this.subProduct == 'Individual'">{{response.PremiumPayable}}</strong>
                              <strong *ngIf = "tripType == 'Multi Trip' && this.subProduct == 'Individual'">{{response.PremiumMutiTrip}}</strong>
                              <strong *ngIf = "(tripType == 'Family' && this.subProduct == 'Senior Citizen')">{{response.PremiumPayable}}</strong>
                              <strong *ngIf = "this.subProduct == 'Family' || this.subProduct == 'Senior Citizen'">{{response.PremiumPayable}}</strong>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td class="text-left" style="padding: 0px !important;">
                              <label>Basic Premium</label>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.998 401.998">
                                <path
                                  d="M326.62 91.076c-1.711-1.713-3.901-2.568-6.563-2.568h-48.82c-3.238-15.793-9.329-29.502-18.274-41.112h66.52c2.669 0 4.853-.856 6.57-2.565 1.704-1.712 2.56-3.903 2.56-6.567V9.136c0-2.666-.855-4.853-2.56-6.567C324.334.859 322.15 0 319.481 0H81.941c-2.666 0-4.853.859-6.567 2.568-1.709 1.714-2.568 3.901-2.568 6.567v37.972c0 2.474.904 4.615 2.712 6.423s3.949 2.712 6.423 2.712h41.399c40.159 0 65.665 10.751 76.513 32.261H81.941c-2.666 0-4.856.855-6.567 2.568-1.709 1.715-2.568 3.901-2.568 6.567v29.124c0 2.664.855 4.854 2.568 6.563 1.714 1.715 3.905 2.568 6.567 2.568h121.915c-4.188 15.612-13.944 27.506-29.268 35.691-15.325 8.186-35.544 12.279-60.67 12.279H81.941c-2.474 0-4.615.905-6.423 2.712-1.809 1.809-2.712 3.951-2.712 6.423v36.263c0 2.478.855 4.571 2.568 6.282 36.543 38.828 83.939 93.165 142.182 163.025 1.715 2.286 4.093 3.426 7.139 3.426h55.672c4.001 0 6.763-1.708 8.281-5.141 1.903-3.426 1.53-6.662-1.143-9.708-55.572-68.143-99.258-119.153-131.045-153.032 32.358-3.806 58.625-14.277 78.802-31.404 20.174-17.129 32.449-39.403 36.83-66.811h47.965c2.662 0 4.853-.854 6.563-2.568 1.715-1.709 2.573-3.899 2.573-6.563V97.646c0-2.669-.858-4.856-2.573-6.57z"
                                  data-original="#000000" data-old_color="#0f0f0f" fill="#0f0f0f" /></svg>
                              <span>{{response.BasicPremium}}</span>
                            </td>
                            <td class="text-right">
                              <label>GST</label>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.998 401.998">
                                <path
                                  d="M326.62 91.076c-1.711-1.713-3.901-2.568-6.563-2.568h-48.82c-3.238-15.793-9.329-29.502-18.274-41.112h66.52c2.669 0 4.853-.856 6.57-2.565 1.704-1.712 2.56-3.903 2.56-6.567V9.136c0-2.666-.855-4.853-2.56-6.567C324.334.859 322.15 0 319.481 0H81.941c-2.666 0-4.853.859-6.567 2.568-1.709 1.714-2.568 3.901-2.568 6.567v37.972c0 2.474.904 4.615 2.712 6.423s3.949 2.712 6.423 2.712h41.399c40.159 0 65.665 10.751 76.513 32.261H81.941c-2.666 0-4.856.855-6.567 2.568-1.709 1.715-2.568 3.901-2.568 6.567v29.124c0 2.664.855 4.854 2.568 6.563 1.714 1.715 3.905 2.568 6.567 2.568h121.915c-4.188 15.612-13.944 27.506-29.268 35.691-15.325 8.186-35.544 12.279-60.67 12.279H81.941c-2.474 0-4.615.905-6.423 2.712-1.809 1.809-2.712 3.951-2.712 6.423v36.263c0 2.478.855 4.571 2.568 6.282 36.543 38.828 83.939 93.165 142.182 163.025 1.715 2.286 4.093 3.426 7.139 3.426h55.672c4.001 0 6.763-1.708 8.281-5.141 1.903-3.426 1.53-6.662-1.143-9.708-55.572-68.143-99.258-119.153-131.045-153.032 32.358-3.806 58.625-14.277 78.802-31.404 20.174-17.129 32.449-39.403 36.83-66.811h47.965c2.662 0 4.853-.854 6.563-2.568 1.715-1.709 2.573-3.899 2.573-6.563V97.646c0-2.669-.858-4.856-2.573-6.57z"
                                  data-original="#000000" data-old_color="#0f0f0f" fill="#0f0f0f" /></svg>
                              <span>{{response.TotalGSTAmt}}</span>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv">
                        <label for="prdName" class="auto_height no_margin">Product Name</label>
                        <input type="text" class="form-control" id="prdName" value="International Travel"
                          disabled="disabled" />
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv">
                        <label for="quoteNo" class="auto_height no_margin">Quote No</label>
                        <input type="text" class="form-control" id="quoteNo" value={{response.PF_QuoteID}}
                          disabled="disabled" />
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv">
                        <label for="subPrdName" class="auto_height no_margin">Sub-Product Name</label>
                        <input type="text" class="form-control" id="subPrdName"
                          value="{{request.coverageType | titlecase}}" disabled="disabled" />
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                        <label class="auto_height">Number of Traveller</label>
                        <div class="chkboxdiv">
                          <div class="form-check form-check-inline" *ngFor="let mem of this.memberArrayNEW;">
                            <input type="checkbox" id="rdlNoTrvlrs1" checked="checked" disabled="disabled" />
                            <label for="rdlNoTrvlrs1"></label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                        <label for="planeType" class="auto_height no_margin">Plane Type</label>
                        <input type="text" class="form-control" id="planeType" value={{planDetails.PlanName}}
                          disabled="disabled" />
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="button" id="btnConvert" class="cstmbtn" (click)="convertToPolicy($event)">Convert to
                        Policy</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <div class="container-fluid maindiv">
              <div class="row" style="margin-bottom: 0px;">
                <section class="container accordsec">
                  <div id="accordion">
                    <div class="card" style="margin-top: 15px;">
                      <div class="card-header">
                        <table>
                          <tbody>
                            <tr>
                              <td width="80%" style="text-align: center; border:none;"><a>Country List</a></td>
                              <td width="20%" style="text-align: center; border:none;" (click)="closeNav($event)">
                                <a><img src="assets/images/close.png" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="collapse show">
                        <div class="card-body">
                          <table width="500" class="table1">
                            <tbody>
                              <tr>
                                <td><label style="font-size: 12px;">Travel Insurance to Schengen countries is mandatory
                                    for every traveler. A group of 26 European countries fall into the Schengen
                                    Agreement, thus eliminating the internal border which controls them.<br><br>We have
                                    additionally listed 4 countries below the Schengen country list which have similar
                                    travel insurance parameters as schengen countries.</label></td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="table2">
                                    <tbody>
                                      <tr>
                                        <td class="td1">
                                          <div style="text-align:left;"><label
                                              style="color: rgb(164, 28, 43); font-size: 12px; font-weight: bold;">List
                                              of European Union Member States which are not Schengen States but with
                                              similar travel insurance parameters.</label> :<br>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <div class="row">
                                          <div class="column">
                                      <tr *ngFor="let country of usaEvenData; let i = index">
                                        <td style="height:25px; width: 75% !important;">{{country}}</td>
                                      </tr>
                        </div>
                        <div class="column">
                          <tr *ngFor="let country of usaOddData; let i = index">
                            <td style="height:25px; width: 75% !important;">{{country}}</td>
                          </tr>
                        </div>
                      </div>
                      </tr>
                      </tbody>
                      </table>
                      </td>
                      </tr>
                      <tr>
                        <td>
                          <table class="table2">
                            <tbody>
                              <tr>
                                <td class="td1">
                                  <div style="text-align:left;"><label
                                      style="color: rgb(164, 28, 43); font-size: 12px; font-weight: bold;">List
                                      of Schengen States</label>:<br>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <div class="row">
                                  <div class="column">
                              <tr *ngFor="let country of schengenEvenData; let i = index">
                                <td style="height:25px; width: 75% !important;">{{country}}</td>
                              </tr>
                    </div>
                    <div class="column">
                      <tr *ngFor="let country of schengenOddData; let i = index">
                        <td style="height:25px; width: 75% !important;">{{country}}</td>
                      </tr>
                    </div>
                  </div>
                  </tr>
                  </tbody>
                  </table>
                  </td>
                  </tr>
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </ion-content>

  <script src="/src/assets/travel/js/classie.js"></script>
  <script>
    (function (window) {
      'use strict';
      var body = document.body,
        mask = document.createElement("div"),
        toggleSlideLeft = document.querySelector(".toggle-slide-left"),
        activeNav;
      mask.className = "mask";

      /* slide menu left */
      toggleSlideLeft.addEventListener("click", function () {
        classie.add(body, "sml-open");
        document.body.appendChild(mask);
        activeNav = "sml-open";
      });

      /* hide active menu if mask is clicked */
      mask.addEventListener("click", function () {
        classie.remove(body, activeNav);
        activeNav = "";
        document.body.removeChild(mask);
      });

      /* hide active menu if close menu button is clicked */
      [].slice.call(document.querySelectorAll(".close-menu")).forEach(function (el, i) {
        el.addEventListener("click", function () {
          classie.remove(body, activeNav);
          activeNav = "";
          document.body.removeChild(mask);
        });
      });
    })(window);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <script>
    $('#polStartDte').datepicker({
      format: "dd/mm/yy",
      clearBtn: true,
      autoclose: true,
      todayHighlight: true,
      toggleActive: true
    });
    $('.datepicker').pickadate();
    // $('#leavingDate').datepicker({
    //   format: "dd/mm/yy",
    //   clearBtn: true,
    //   autoclose: true,
    //   todayHighlight: true,
    //   toggleActive: true
    // });
    $('datepicker').pickadate({
      selectMonth: true,
      selectYears: 15
    });
    $('#trvlDOB').datepicker({
      format: "dd/mm/yy",
      clearBtn: true,
      autoclose: true,
      todayHighlight: true,
      toggleActive: true
    });
  </script>
</body>