<head>
  <title>Health Starter - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
  <script>
    function myFunction() {
      var x = document.getElementById("travellersrange").value;
      document.getElementById("travellersvalue").innerHTML = x;
    }
  </script>
</head>

<aside class="menu slide-menu-left">
  <div class="leftlogodiv">
    <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
  </div>
  <!-- <div id="leftaccord" class="leftaccordmenu">
        <div class="card">
          <div class="card-header">
            <a class="card-link">My transactions</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse">
              My transactions
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
                <path
                  d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
              </svg>
            </a>
          </div>
          <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
            <ul class="list-unstyled leftsubmenus">
              <li>
                <a>submenu 1</a>
              </li>
              <li>
                <a>submenu 2</a>
              </li>
              <li>
                <a>submenu 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse">
              My transactions
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
                <path
                  d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
              </svg>
            </a>
          </div>
          <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
            <ul class="list-unstyled leftsubmenus">
              <li>
                <a>submenu 1</a>
              </li>
              <li>
                <a>submenu 2</a>
              </li>
              <li>
                <a>submenu 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="card-link">My transactions</a>
          </div>
        </div>
      </div> -->
</aside>
<header class="container-fluid fixed-top">
  <div class="row" style="margin-bottom: 0px;">
    <div class="container">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-10">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <!-- <div class="col-2 text-center twobtns">
          <a (click)="home($event)" style="cursor: pointer;" class="auto_height"><span
              style="font-weight: bold; color:white;">HOME</span></a>
        </div> -->
      </div>
    </div>
  </div>
</header>
<ion-content>
  <div class="container-fluid maindiv">
    <div class="row">
      <section class="container accordsec">
        <div id="accordion">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <h4 class="text-center" style="width: 100%;">Please Enter your Details</h4>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                  <label for="user_name" class="auto_height no_margin">Full Name<sup>*</sup></label>
                  <input type="text" name="user_name" id="user_name" (keydown)="alphaOnly($event)" [(ngModel)]='user_name'
                    class="form-control ng-pristine ng-untouched ng-valid" placeholder="Enter full name"
                    >
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                  <label for="mobile_number" class="auto_height no_margin">Mobile Number<sup>*</sup></label>
                  <input type="text" name="mobile_number" id="mobile_number" [(ngModel)]='mobile_number'
                    class="form-control ng-pristine ng-untouched ng-valid" placeholder="Enter mobile number"
                     maxlength="10" (keypress)='numberOnly($event)'>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                  <label for="email_id" class="auto_height no_margin">Email Address<sup>*</sup></label>
                  <input type="email" name="email_id" id="email_id" [(ngModel)]='email_address'
                    class="form-control ng-pristine ng-untouched ng-valid ng-valid-email"
                    placeholder="Enter email address" >
                </div>
                <div style="padding-left: 9px;">
                  <table class="agreeTable">
                    <tbody>
                      <tr>
                        <td>
                          <input type="checkbox" id="whatsAppDetails" [(ngModel)]="iswhatsAppDetails" checked="checked"
                            class="ng-pristine ng-untouched ng-valid">
                          <label for="whatsAppDetails" style="height: 25px !important; width: 25px !important;"></label>
                        </td>
                        <td style="padding-left: 0;">
                          <label for="whatsAppDetails" class="font-regular">I wish to get policy related communication
                            on my &nbsp;<i class="fa fa-whatsapp"
                              style="font-size:20px;color:#25d366;font-weight: bold;"></i>&nbsp; WhatsApp number</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                  <div class="text-center">
                    <input type="submit" value="Proceed" id="btnSubmit" class="cstmbtn" (click)="SubmitUserDetails()">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>