<ion-app>
  <!-- <ngx-spinner bdOpacity = 0.9
  bdColor = "#333"
  size = "medium"
  color = "#fff"
  type = "line-spin-clockwise-fade"
  [fullScreen] = "true"
  >
  <p style="color: white" > Loading... </p></ngx-spinner> -->
  <div class="loader1" *ngIf="cs.showLoader">
    <img style="padding:250px 50px" src="./assets/images/loader1.gif" />
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>