<!-- 
<ion-content>
    <ion-toolbar style="text-align: center;">
        <ion-title>Please Wait for some time</ion-title>
      </ion-toolbar>
</ion-content> -->
<head>
  <title>Health Summary - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
  <script>
    function myFunction() {
      var x = document.getElementById("travellersrange").value;
      document.getElementById("travellersvalue").innerHTML = x;
    }
  </script>
</head>

<aside class="menu slide-menu-left">
  <div class="leftlogodiv">
    <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
  </div>
</aside>
<header class="container-fluid fixed-top">
  <div class="row" style="margin-bottom: 0px;">
    <div class="container">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-10">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <!-- <div *ngIf="showHome" class="col-2 text-center twobtns">
          <a (click)="home($event)" style="cursor: pointer;" class="auto_height" style="cursor: pointer;"><span style="font-weight: bold; color:white;">HOME</span></a>
        </div> -->
      </div>
    </div>
  </div>
</header>
<ion-content>
<div class="container-fluid maindiv">
  <div class="loaderdiv" *ngIf="cs.showSwapLoader">
    <img src="assets/images/loader.gif" alt="Loader" class="img-fluid" />
  </div>
</div>
<script src="assets/js/classie.js"></script>
<script>
  (function (window) {
    'use strict';
    var body = document.body,
      mask = document.createElement("div"),
      toggleSlideLeft = document.querySelector(".toggle-slide-left"),
      activeNav;
    mask.className = "mask";

    /* slide menu left */
    toggleSlideLeft.addEventListener("click", function () {
      classie.add(body, "sml-open");
      document.body.appendChild(mask);
      activeNav = "sml-open";
    });

    /* hide active menu if mask is clicked */
    mask.addEventListener("click", function () {
      classie.remove(body, activeNav);
      activeNav = "";
      document.body.removeChild(mask);
    });

    /* hide active menu if close menu button is clicked */
    [].slice.call(document.querySelectorAll(".close-menu")).forEach(function (el, i) {
      el.addEventListener("click", function () {
        classie.remove(body, activeNav);
        activeNav = "";
        document.body.removeChild(mask);
      });
    });
  })(window);
</script>
</ion-content>

