<head>
  <title>Health Proposal - ICICI Lombard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a href="#">submenu 1</a>
            </li>
            <li>
              <a href="#">submenu 2</a>
            </li>
            <li>
              <a href="#">submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a href="#">submenu 1</a>
            </li>
            <li>
              <a href="#">submenu 2</a>
            </li>
            <li>
              <a href="#">submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div>
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <!-- <div class="col-2 text-center twobtns">
            <a (click)="home($event)" class="auto_height"><span class="homeRef"
                style="font-weight: bold;">HOME</span></a>
          </div> -->
        </div>
      </div>
    </div>
  </header>
  <ion-content>
    <div class="container-fluid maindiv">
      <div class="row" style="margin-bottom: 0px;">
        <section class="container headingsec">
          <h2>Proposal</h2>
        </section>
        <section class="container accordsec">
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link collapsed" data-toggle="collapse" data-target="#basicDetailsBody">
                  Basic
                </a>
              </div>
              <div class="collapse show" id='basicDetailsBody'>
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 form-group statediv">
                      <label for="prdName" class="auto_height ">Product Name</label>
                      <input type="text" class="form-control" id="prdName" value="International Travel"
                        disabled="disabled" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv">
                      <label for="subPrdName" class="auto_height">Sub-Product Name</label>
                      <input type="text" class="form-control" id="subPrdName"
                        value="{{request.coverageType | titlecase}}" disabled="disabled" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                      <label class="auto_height">Number of Traveller</label>
                      <div class="chkboxdiv">
                        <div class="form-check form-check-inline" *ngFor="let i of memberArrayNEW">
                          <input type="checkbox" id="oneAdult" checked="checked" disabled="disabled" />
                          <label for="oneAdult"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv" style="padding: 0px 0px;">
                    <label for="txtTripdur" class="auto_height">Trip Duration (Days)</label>
                    <input type="text" class="form-control" id="txtTripdur" value={{request.TripDuration}}
                      disabled="disabled" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <form [formGroup]="insuredForm">
                <div class="card-header">
                  <a class="card-link collapsed" data-toggle="collapse" data-target="#insuredDetailsBody">
                    Insured
                  </a>
                </div>     
                <div class="collapse show" id='insuredDetailsBody'>
                  <div class="card-body">
                      <div>
                          <div class="chkboxdiv row text-center">
                              <div (click)="showAdultDiv($event.target)"  class="col-{{round()}} col-xs-{{round()}}"  
                              *ngFor="let j of memberArrayNEW; let i = index;">
                                  <img id='{{i}}' [ngClass]="showSegment==i?'imgClass underLine':'imgClass'"            
                                    src='assets/images/1334.png'>
                              </div>
                            </div>
                      </div>                    
                    <div formArrayName="Members">
                      <ng-container *ngFor="let mem of insuredForm.get('Members').controls; let i = index;"
                        [formGroupName]="i">
                        <div *ngIf="showSegment == i">
                        <div class="row">
                          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-8 form-group">
                            <label for="sltTitle" class="auto_height">Title</label>
                            <select id="sltTitle" class="custom-select" formControlName="insuTitle"
                              (change)="getInsuTitle($event,i)" required>
                              <option class="optionBG" value='' selected disabled>Select Title</option>
                              <option class="optionBG" value={{title.val}} *ngFor="let title of titles">{{title.val}}
                              </option>
                            </select>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-8  form-group">
                            <label for="txtName" class="auto_height">Full Name</label>
                            <input type="text" id="txtName" name="insuName" class="form-control"
                              placeholder="Enter Full Name" formControlName="insuName" required />
                          </div>
                          <div *ngIf="!showRelation" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-8 form-group">
                            <label for="applRelation" class="auto_height">Relationship with Applicant</label>
                            <select id="applRelation" class="custom-select" formControlName="insuRela"
                             required name="insuRela">
                              <option class="optionBG"  value='' selected disabled>Select Applicant Relation</option>
                              <option class="optionBG" value={{rel.RelationshipName}} *ngFor="let rel of applRelations.lstApplicantRelationShipResponse">
                                {{rel.RelationshipName}}
                              </option>
                            </select>
                          </div>
                          <div *ngIf="showRelation" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-8 form-group">
                              <label for="applRelation" class="auto_height">Relationship with Applicant</label>
                              <select id="applRelation" class="custom-select" formControlName="insuRela"
                               required name="insuRela">
                                <option class="optionBG"  value='' selected disabled>Select Applicant Relation</option>
                              </select>
                            </div>
                          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 form-group dob2">
                              <label for="travelDob" class="auto_height">Travel {{i+1}} Date of Birth</label>
                              <input type="date" id="travelDob" class="form-control" formControlName="insuDOB"
                                autocomplete="off" name="insuDOB" placeholder="DD/MM/YY" readonly required />
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                              <label for="passportNo" class="auto_height">Passport Number</label>
                              <input name="insuPassNo" type="text" id="passportNo" class="form-control"
                                formControlName="insuPassNo" placeholder="Enter Passport No."
                                (change)="validatePassport($event)" required />
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                              <label for="txtDiesease" class="auto_height">Illness/Disease/Ailment/Deformity</label>
                              <select name="insuAilment" id="sltTitle" class="custom-select" placeholder="PED List"
                                formControlName="insuAilment" (change)="getAilment($event)"  required>
                                <option class="optionBG" value="" disabled>Select</option>
                                <option class="optionBG" value="cancer">Cancer</option>
                                <option class="optionBG" value="heart">Heart</option>
                                <option class="optionBG" value="kidney">Kidney</option>
                                <option class="optionBG" value="liver">Liver</option>
                                <option class="optionBG" value="none">None</option>
                              </select>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                              <label for="txtNomName" class="auto_height">Nominee Name</label>
                              <input type="text" id="txtNomName" name="insuNomName" class="form-control"
                                formControlName="insuNomName" placeholder="Enter Nominee Name" required />
                            </div>
                            <div *ngIf="!showRelationNominee" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-8 form-group">
                              <label for="sltNomRel" class="auto_height">Relationship with Nominee</label>
                              <select name="insuNomRela" id="sltNomRel" class="custom-select" formControlName="insuNomRela"
                                 required>
                                <option class="optionBG" value="" disabled>Select Nominee Relation</option>
                                <option class="optionBG" value={{rel.NomineeName}}
                                          *ngFor="let rel of nomRelations.lstNomineeRelationshipResponse">{{rel.NomineeName}}
                                        </option>
                              </select>
                            </div>
                            <div *ngIf="showRelationNominee" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-8 form-group">
                                <label for="sltNomRel" class="auto_height">Relationship with Nominee</label>
                                <select name="insuNomRela" id="sltNomRel" class="custom-select" formControlName="insuNomRela" [value]='0' required>
                                  <option class="optionBG" value="0" disabled>Select Nominee Relation</option>
                                </select>
                              </div>
                        </div>
                      </div>

                        
                      </ng-container>
                    </div>
                  </div>
                </div>
              </form>
            </div>


            <div class="card">
              <div class="card-header" (click)="showApplicant($event)">
                <a class="card-link collapsed" id="applicant">
                  Applicant
                </a>
              </div>
              <div class="collapse show" *ngIf="isApplicant">
                <form [formGroup]="applicantForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                        <label class="auto_height">Customer Type</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input #newCustomer type="radio" id="custTypeNew" name="custType" checked="checked" />
                            <label for="custTypeNew" (click)="isExist('No')">New</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="custTypeExist" data-toggle="modal"
                              data-target="#existingCustomerModal" name="custType" />
                            <label for="custTypeExist" (click)="isExist('Yes')">Existing</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                        <label for="txtpancard" class="auto_height no_margin">Pan Card Number</label>
                        <input type="tel" id="txtpancard" name="txtpancard" class="form-control"
                          placeholder="Enter Pan No." formControlName="panNumber" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                        <label for="applicantTitle" class="auto_height">Title</label>
                        <select id="sltTitle" class="custom-select" formControlName="applTitle"
                          required [value]='null'>
                          <option class="optionBG" value="null" disabled>Select Title</option>
                          <option class="optionBG" value={{title.val}} *ngFor="let title of titles">{{title.val}}
                          </option>
                        </select>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                        <label for="txtappName" class="auto_height">Applicant Full Name</label>
                        <input type="text" id="txtappName" name="txtappName" class="form-control"
                          placeholder="Enter Full Name" formControlName="applName" required />
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group dob2">
                        <label for="applicDob" class="auto_height" style="padding-right: 15%;">Date of Birth</label>
                        <mat-form-field class="example-full-width" style="width:75%;">
                          <input matInput class="form-control" style="background: none;" [max]="minDOBDate"
                            [matDatepicker]="picker" formControlName="applDOB" (dateChange)="getdate1($event)">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                        <label for="applicMob" class="auto_height">Mobile Number
                        </label>
                        <input type="text" maxlength="10" id="applicMob" class="form-control" autocomplete="off"
                          placeholder="Enter Number" formControlName="mobileNo" (keypress)="mobileValidation($event)"
                          (change)="validateMobileLength($event)" required />
                      </div>
                    </div>
                    <div class="tablediv">
                      <h4 class="text-center">Correspondence Address</h4>
                      <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                          <label for="appAddone" class="auto_height">Address 01</label>
                          <input type="text" id="appAddone" name="appAddone" class="form-control"
                            placeholder="Enter Address1" formControlName="applAdd1" required />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                          <label for="appAddtwo" class="auto_height">Address 02</label>
                          <input type="text" id="appAddtwo" name="appAddtwo" class="form-control"
                            placeholder="Enter Address2" formControlName="applAdd2" />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                          <label for="appliclndmrk" class="auto_height">Landmark</label>
                          <input type="text" id="appliclndmrk" name="appliclndmrk" class="form-control"
                            placeholder="Enter Landmark" formControlName="applLandmark" />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                          <label for="appPincode" class="auto_height">Pincode</label>
                          <input type="text" maxlength="6" id="appPincode" name="appPincode" class="form-control"
                            placeholder="Enter Pincode" formControlName="applPinCode"
                            (keypress)="mobileValidation($event)" (change)="getPincodeDetails($event)" required />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                          <label for="appCity" class="auto_height">City</label>&nbsp;&nbsp;<span
                            *ngIf="inputLoading1"><img style="width:5%;"
                              src="http://loadinggif.com/images/image-selection/3.gif" /></span>
                            <select id="appCity" class="custom-select" formControlName="applCity"
                            (change)="getCityName($event.target.value)" [value]='null'>
                            <option class="optionBG" value="null" selected disabled>Select City</option>
                            <option class="optionBG" *ngFor="let data of pinDataList" value={{data.CityName}}>{{data.CityName}}</option>
                          </select>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                          <label for="appState" class="auto_height">State</label>&nbsp;&nbsp;<span
                            *ngIf="inputLoading1"><img style="width:5%;"
                              src="http://loadinggif.com/images/image-selection/3.gif" /></span>
                          <input type="text" id="appState" name="appState" class="form-control"
                            placeholder="Enter State" formControlName="applState" readonly />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                          <label for="appEmail" class="auto_height">Email (Policy will be sent to this ID)</label>
                          <input type="email" id="appEmail" name="appEmail" class="form-control"
                            placeholder="Enter Email" formControlName="applEmail" required />
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-8 col-12 form-group">
                          <label class="auto_height">Are you registered with GST?</label>
                          <div class="radioboxdiv" *ngIf="!gstChange">
                            <div class="form-check form-check-inline">
                              <input #isGSTYES type="radio" id="regGstYes" name="regGst" (click)="isGST('Yes')" />
                              <label for="regGstYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input #isGSTNO type="radio" id="regGstno" name="regGst" checked (click)="isGST('No')" />
                              <label for="regGstno">No</label>
                            </div>
                          </div>
                          <div class="radioboxdiv" *ngIf="gstChange">
                            <div class="form-check form-check-inline">
                              <input type="radio" id="regGstYes" name="regGst" checked="checked"
                                (click)="isGST('Yes')" />
                              <label for="regGstYes">Yes</label>
                            </div>
                          </div>
                        </div>
                        <div class="tablediv" *ngIf="showGST" style="padding-left: 15px; padding-right: 15px;">
                          <h4 class="text-center">GST Details</h4>
                          <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                              <label for="constbuss" class="auto_height no_margin">Constitution of Business</label>
                              <select id="constbuss" class="custom-select" formControlName="constitution"
                                (change)="getConstitute($event)" [value]='null'>
                                <option class="optionBG" value="null" selected disabled>Select Constitution of Business
                                </option>
                                <option class="optionBG" value="1">Non Resident Entity</option>
                                <option class="optionBG" value="2">Foreign company registered in India</option>
                                <option class="optionBG" value="3">Foreign LLP</option>
                                <option class="optionBG" value="4">Government Department</option>
                                <option class="optionBG" value="5">Hindu Undivided Family</option>
                                <option class="optionBG" value="6">LLP Partnership</option>
                                <option class="optionBG" value="7">Local Authorities</option>
                                <option class="optionBG" value="8">Partnership</option>
                                <option class="optionBG" value="9">Private Limited Company</option>
                                <option class="optionBG" value="10">Proprietorship</option>
                                <option class="optionBG" value="11">Others</option>
                              </select>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                              <label for="txtPanNum" class="auto_height no_margin">PAN Number</label>
                              <input type="text" id="txtPanNum" class="form-control" placeholder="Enter PAN No."
                                formControlName="gstPanNo" />
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                              <label for="custType" class="auto_height no_margin">Customer Type</label>
                              <select id="custType" class="custom-select" formControlName="customerType"
                                (change)="getCustTypeName($event)" [value]='null'>
                                <option class="optionBG" value="null" selected disabled>Select Customer Type</option>
                                <option class="optionBG" value="21">General</option>
                                <option class="optionBG" value="22">EOU/STP/EHTP</option>
                                <option class="optionBG" value="23">Government</option>
                                <option class="optionBG" value="24">Overseas</option>
                                <option class="optionBG" value="25">Related parties</option>
                                <option class="optionBG" value="26">SEZ</option>
                                <option class="optionBG" value="27">Others</option>
                              </select>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                              <label for="gstRegStats" class="auto_height no_margin">GST Registration Status</label>
                              <select id="gstRegStats" class="custom-select" formControlName="gstRegStatus"
                                (change)="getGSTName($event)" [value]='null'>
                                <option class="optionBG" value="null" selected disabled>Select GST Status</option>
                                <option class="optionBG" value="41">ARN Generated</option>
                                <option class="optionBG" value="42">Provision ID Obtained</option>
                                <option class="optionBG" value="43">To be commenced</option>
                                <option class="optionBG" value="44">Enrolled</option>
                                <option class="optionBG" value="45">Not applicable</option>
                              </select>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                              <label class="auto_height">Is GSTIN or UIN Applicable?</label>
                              <div class="radioboxdiv">
                                <div class="form-check form-check-inline">
                                  <input type="radio" id="isApplicGstin" name="isApplic" checked="checked"
                                    (click)="isGSTINUIN('GSTIN')" />
                                  <label for="isApplicGstin">GSTIN</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input type="radio" id="isApplicUin" name="isApplic" (click)="isGSTINUIN('UIN')" />
                                  <label for="isApplicUin">UIN</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group" *ngIf="isGSTIN">
                              <label for="txtGstin" class="auto_height no_margin">GSTIN Number</label>
                              <input type="text" id="txtGstin" class="form-control" placeholder="Enter GSTIN No."
                                formControlName="GSTIN" />
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group" *ngIf="!isGSTIN">
                              <label for="txtGstin" class="auto_height no_margin">UIN Number</label>
                              <input type="text" id="txtGstin" class="form-control" placeholder="Enter UIN No."
                                formControlName="UIN" />
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 form-group">
                          <label class="auto_height">Is correspondence Address same as Permanent Address</label>
                          <div class="radioboxdiv">
                            <div class="form-check form-check-inline">
                              <input type="radio" id="isSameAddYes" name="isSameAdd" [checked]='isCorraddSame==true'
                                (click)="show1('Yes');" />
                              <label for="isSameAddYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="radio" id="isSameAddNo" name="isSameAdd" [checked]='isCorraddSame==false'
                                (click)="show1('No');" />
                              <label for="isSameAddNo">No</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tablediv">
                      <h4 class="text-center">Permanent Address</h4>
                      <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                          <label for="corresAddone" class="auto_height">Address 01</label>
                          <input type="text" id="corresAddone" name="corresAddone" class="form-control"
                            placeholder="Enter Address1" formControlName="permAdd1" [readOnly]='IsreadOnlyPermanentAdd' />
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                          <label for="correstwo" class="auto_height">Address 02</label>
                          <input type="text" id="correstwo" name="correstwo" class="form-control"
                            placeholder="Enter Address2" formControlName="permAdd2" [readOnly]='IsreadOnlyPermanentAdd'/>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                          <label for="correslndmrk" class="auto_height">Landmark</label>
                          <input type="text" id="correslndmrk" name="correslndmrk" class="form-control"
                            placeholder="Enter Landmark" formControlName="permLandmark" [readOnly]='IsreadOnlyPermanentAdd'/>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                          <label for="corresPincode" class="auto_height">Pincode</label>
                          
                          <input type="text" maxlength="6" id="corresPincode" name="corresPincode" class="form-control"
                            placeholder="Enter Pincode" formControlName="permPinCode"
                            (keypress)="mobileValidation($event)" (change)="getPincodeDetailsPer($event)" [readOnly]='IsreadOnlyPermanentAdd'/>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                          <label for="corresCity" class="auto_height">City</label>&nbsp;&nbsp;<span
                            *ngIf="inputLoading1"><img style="width:5%;"
                              src="http://loadinggif.com/images/image-selection/3.gif" /></span>
                            <select id="appCity" class="custom-select" formControlName="permCity" 
                            (change)="getCityNamePermanentAdd($event.target.value)" [value]='null'>
                            <option class="optionBG" value="null" selected disabled>Select City</option>
                            <option class="optionBG" *ngFor="let data of pinDataListPermanentAdd" value={{data.CityName}}>{{data.CityName}}</option>
                          </select>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group">
                          <label for="corresState" class="auto_height">State</label>&nbsp;&nbsp;<span
                            *ngIf="inputLoading1"><img style="width:5%;"
                              src="http://loadinggif.com/images/image-selection/3.gif" /></span>
                          <input type="text" id="corresState" name="corresState" class="form-control"
                            placeholder="Enter State" formControlName="permState" [readOnly]='IsreadOnlyPermanentAdd'/>
                        </div>
                      </div>
                    </div>
                    <div class="tablediv">
                      <h4 class="text-center">Other Details</h4>
                      <div class="row">
                        <div class="col-12 form-group">
                          <label class="auto_height">Do you want the policy to be mailed to the above address? </label>
                          <div class="radioboxdiv">
                            <div class="form-check form-check-inline">
                              <input type="radio" id="policyMailedYes" name="policyMailed" checked="checked" />
                              <label for="policyMailedYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input type="radio" id="policyMailedNo" name="policyMailed" />
                              <label for="policyMailedNo">No</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="tablediv">
                      <h4 class="text-center">SP Details</h4>
                      <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                          <label for="titleType" class="auto_height">Alternate RM code</label>
                          <select class="custom-select" id="titleType" name="titleType" (change)="getSPName($event)"
                             formControlName='SPAlternateRMcode' [value]='null'>
                            <option class="optionBG" value="null" selected disabled>Select SP_Code</option>
                            <option class="optionBG" value={{SP}} *ngFor="let SP of listOfSPDetails">{{SP}}
                            </option>
                          </select>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                          <label for="spname" class="auto_height">SP Name</label>
                          <input type="text" id="spName" (keydown)="alphaOnly($event)"  name="spName"
                            class="form-control" placeholder="Enter SP Name" disabled formControlName='SPName'/>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                          <label for="spname" class="auto_height">Unique Reference No</label>
                          <input type="text" id="spName" (keydown)="alphaOnly($event)" name="spName" class="form-control"
                            placeholder="Enter Unique Reference No" formControlName='SPUniqueReferenceNo'/>
                        </div>

  
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                          <label for="titleType" class="auto_height">Channel Name</label>
                          <select class="custom-select" id="titleType" (change)=getChannelList($event) name="titleType"
                             formControlName='SPChannelName' [value]='null'>
                            <option class="optionBG"  value="null" selected disabled>Select Channel Name</option>
                            <option class="optionBG" value={{list}} *ngFor="let list of listOfChannel">{{list}}</option>
                          </select>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                          <label for="spname" class="auto_height">Primary RM Code</label>
                          <input type="text" id="spName" (keydown)="alphaOnly($event)" name="spName" class="form-control"
                            placeholder="Enter Primary RM Code" formControlName='SPPrimaryRMCode'/>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                          <label for="spname" class="auto_height">Secondary RM Code</label>
                          <input type="text" id="spName" (keydown)="alphaOnly($event)" name="spName" class="form-control"
                            placeholder="Enter Secondary RM Code" formControlName='SPSecondaryRMCode'/>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                          <label for="spname" class="auto_height">Banca Field_01</label>
                          <input type="text" id="spName" (keydown)="alphaOnly($event)" name="spName" class="form-control"
                            placeholder="Enter Banca Field_01" formControlName='SPBancaField_01'/>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                          <label for="spname" class="auto_height">Banca Field_02</label>
                          <input type="text" id="spName" (keydown)="alphaOnly($event)" name="spName" class="form-control"
                            placeholder="Enter Banca Field_02" formControlName='SPBancaField_02'/>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                          <label for="spname" class="auto_height">Banca Field_03</label>
                          <input type="text" id="spName" (keydown)="alphaOnly($event)" name="spName" class="form-control"
                            placeholder="Enter Banca Field_03" formControlName='SPBancaField_03'/>
                        </div>
                      </div>
                    </div>   -->

                  </div>
                </form>
                <div class="text-center twobtns">
                  <button type="button" id="btnSubmit" class="cstmbtn"
                    (click)="calProposal(applicantForm, insuredForm)">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="myNav1" class="overlay">
          <div class="overlay-content">
            <div class="container-fluid maindiv">
              <div class="row" style="margin-bottom: 0px;">
                <section class="container accordsec">
                  <div id="accordion">
                    <div class="card" style="margin-top: 15px;">
                      <div class="card-header">
                        <a>
                          Existing User List
                        </a>
                      </div>
                      <div class="collapse show">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group"
                              style="text-align: left;">
                              <label class="auto_height no_margin">Customer Name</label>
                              <input type="text" class="form-control" [(ngModel)]="customerName"
                                placeholder="Customer Name" />
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group"
                              style="text-align: left;">
                              <label class="auto_height no_margin">Email Id</label>
                              <input type="text" class="form-control" placeholder="Email ID" />
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group"
                              style="text-align: left;">
                              <label class="auto_height no_margin">Mobile Number</label>
                              <input type="text" class="form-control" placeholder="Mobile Number" />
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                              <button type="button" id="btnSave" class="cstmbtn"
                                (click)="searchCustomer($event)">Search</button>
                              <button type="button" id="btnSave" class="cstmbtn"
                                (click)="closeNav($event)">Cancel</button>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
                              *ngIf="isShowUserList">
                              <table>
                                <tr>
                                  <th>Customer Name</th>
                                  <th>Email ID</th>
                                  <th>Mobile Number</th>
                                </tr>
                                <tr *ngFor="let customer of searchData" (click)="selectedCust(customer)">
                                  <td>{{customer.CustomerName}}</td>
                                  <td>{{customer.CustomerEmail}}</td>
                                  <td>{{customer.CustomerMobile}}</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</body>
<!-- <ion-content>
  <form [formGroup]="insuredForm">
    <input type="checkbox" formControlName="published"> Published
    <div *ngIf="insuredForm.controls.published.value">

      <h2>Credentials</h2>
      <button (click)="selectMember()">Add</button>

      <div formArrayName="members" *ngFor="let mem of insuredForm.get('members').controls; let i = index">
        <ng-container [formGroupName]="i">
          <input type="text" placeholder="Username" formControlName="username">
          <input placeholder="Password" formControlName="password">
        </ng-container>
      </div>

    </div>
    <button (click)="Submit(insuredForm)">Submit</button>
  </form>
</ion-content> -->