<head>
  <title>Health Summary - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
</head>

<ion-content>
  <section class=" accordsec" style="margin-bottom: 0px;">
    <div *ngIf="!isShowUserList" >
      <div id="accordion">
      <div class="box">
        <div class="card-header">
          <div class="card-link collapsed">
            <ion-label> Search For Customer  <button (click)='closeModal()' style="float:right;
                background: transparent;">X</button></ion-label>
          </div>
        </div>
      </div>
    </div>

      <ion-card-content>
        <form [formGroup]="searchCustHospiForm">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label position="floating" class="quote-labels">Customer Name</ion-label>
                  <ion-input class="lable" placeholder="Customer Name" formControlName="custName"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label position="floating" class="quote-labels">Email ID</ion-label>
                  <ion-input class="lable" placeholder="Customer Email" formControlName="custEmailId"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label position="floating" class="quote-labels">Mobile Number</ion-label>
                  <ion-input class="lable" placeholder="Customer Mobile No" formControlName="custMobileNo"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-item lines="none">
              <ion-label>OR</ion-label>
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label position="floating" class="quote-labels">PF Customer ID</ion-label>
                  <ion-input class="lable" placeholder="PF Customer Id" formControlName="custID"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4"></ion-col>
              <ion-col>
                <button shape="round" class="getProposal" (click)="searchCustomer(searchCustHospiForm)">Search</button>
              </ion-col>
              <ion-col size="5"></ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </div>


    <div style="margin-left: 30px; margin-right: 30px;" *ngIf="isShowUserList">
        <div id="accordion">
        <div class="box">
        <div class="card-header">
            <div class="card-link collapsed">
          <ion-label> List Of Existing Customer <button (click)='closeModal()' style="float:right;
            background: transparent;">X</button></ion-label>
            </div>
        </div>
      </div>
      </div>
      <ion-card-content *ngIf='isPfSearch==false'>
        <ion-list *ngFor="let cust of searchData" (click)="selectedUser(cust)">
          <ion-item>
            <ion-label>{{cust.CustomerName}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content *ngIf='isPfSearch==true'>
          <ion-list *ngFor="let cust of searchData" (click)="selectedUser(cust)">
            <ion-item>
              <ion-label>{{cust.UserName}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </div>

  </section>
 
  </ion-content>
