<ion-content>
  <ion-card *ngIf="!isShowUserList" style="margin: 0px;">
    <ion-card-header>
      <div class="box">
        <ion-label> Search For Customer  <button (click)='closeModal()' style="float:right;
              background: transparent;">X</button></ion-label>
      </div>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="searchCustForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating" class="quote-labels">Customer Name</ion-label>
                <ion-input class="lable" placeholder="Customer Name" formControlName="custName"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating" class="quote-labels">Email ID</ion-label>
                <ion-input class="lable" placeholder="Customer Email" formControlName="custEmailId"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating" class="quote-labels">Mobile Number</ion-label>
                <ion-input class="lable" placeholder="Customer Mobile No" formControlName="custMobileNo"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item lines="none">
            <ion-label>OR</ion-label>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating" class="quote-labels">PF Customer ID</ion-label>
                <ion-input class="lable" placeholder="PF Customer Id" formControlName="custID"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col>
              <button shape="round" class="getProposal" (click)="searchCustomer(searchCustForm)">Search</button>
            </ion-col>
            <ion-col size="5"></ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card style="margin-left: 30px; margin-right: 30px;" *ngIf="isShowUserList">
    <ion-card-header>
      <div class="box">
        <ion-label> List Of Existing Customer <button (click)='closeModal()' style="float:right;
          background: transparent;">X</button></ion-label>
      </div>
    </ion-card-header>
    <ion-card-content *ngIf='isPfSearch==false'>
      <ion-list *ngFor="let cust of searchData" (click)="selectedUser(cust)">
        <ion-item>
          <ion-label>{{cust.CustomerName}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content *ngIf='isPfSearch==true'>
        <ion-list *ngFor="let cust of searchData" (click)="selectedUser(cust)">
          <ion-item>
            <ion-label>{{cust.UserName}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>