.fontStyle{
    width: 103px;
    height: 20px;
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ad2121;
  }


  .header-title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #ad2121;
    margin-left: 20px;
  }

  .main-container {
    padding: 40px;
  }

  .header-quote {
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0 #6e0000;
    border: solid 1px #fff;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 18px;
    margin-right: 18px;
    // margin-top: 50px;
  }

  .backgroundCss {
    background-image: url("src/assets/images/Health_BG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  tr
{
  border-bottom:none!important;
}

.cardContent{
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    // opacity: 0.3;
    border-radius: 10px;
    box-shadow: 12px 10px 6px 0 var(--dark-red);
    border: solid 1px var(--white);
    background-color: var(--white);
}

// .container{
//     height: 100%;
//     // width: 100%;
//     padding-left: 10%;
//     padding-right: 10%;
// }

.logoImg{
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
    height: 40px;
}

.header {
    width: 100%;
    // height: 68px;
    background-color: #931f1f;
  }


.toolbar-container{
    background-color: #931f1f!important;
}
.colCSS{
    border: 2px solid #ad2121;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    padding: 5px;
    // margin-left: 5px;
    // margin-right: 5px;
}

.main-container {
    height: -webkit-fill-available;
    border-radius: 10px;
    box-shadow: 6px 6px 12px 0 #6e0000;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    margin: 5% 10%;
    // opacity: 0.5;
    background: rgba(255, 134, 134, 0.1);
  }

  .main-container1{
  // width: 1004px;
  height: 100%;
  // margin-left: 25px;
  // margin-right: 25px;
  // opacity: 0.45;
  border-radius: 10px;
  box-shadow: 12px 10px 6px 0 var(--dark-red);
  // border: solid 1px var(--white);
  // background-color: var(--white);
  height: -webkit-fill-available;
}

.cardRow{
  margin-top: 22px;
  margin-left: 30px;
  margin-right: 30px;
}

.cardMain{
  // margin-left: 38px;
  // margin-right: 38px;
  // margin-bottom: 40px;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 0 #6e0000;
  border: solid 1px #fff;
  background-color: #fff;
  
}

.backgroundCss{
    background-image: url('src/assets/images/Health_BG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    // opacity: 0.5;
}

.benefits-header
{
  // font-family: ProximaNova;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #6e0000;
  padding: 10px 0px;
}
.benefits-subheader
{
  // font-family: ProximaNova;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color:#4b4b4b;
}
.benefits-contents
{
  // font-family: ProximaNova;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color:#4b4b4b;
}
