<head>
  <title>Quick Quote - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
  <script>
    function myFunction() {
      var x = document.getElementById("travellersrange").value;
      document.getElementById("travellersvalue").innerHTML = x;
    }
  </script>
</head>

<aside class="menu slide-menu-left">
  <div class="leftlogodiv">
    <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
  </div>
  <!-- <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div> -->
</aside>
<header class="container-fluid fixed-top">
  <div class="row" style="margin-bottom: 0px;">
    <div class="container">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-10">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <!-- <div class="col-2 text-center twobtns">
          <a (click)="home($event)" style="cursor: pointer;" class="auto_height"><span
              style="font-weight: bold; color:white;">HOME</span></a>
        </div> -->
      </div>
    </div>
  </div>
</header>
<ion-content>
  <div class="container-fluid maindiv">
    <div class="row" style="margin-bottom: 0px;">
      <section class="container headingsec">
        <h2>health</h2>
      </section>
      <section class="container accordsec">
        <div id="accordion">
          <div class="card">
            <div class="card-header" (click)="showQuoteDetails($event)">
              <a class="card-link" id="quoteDetails">
                quote details
              </a>
            </div>
            <div class="collapse show" id='quoteDetailsBody'>
              <div class="card-body">
                <div class="tabpanediv">
                  <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item"
                      *ngIf="this.agentData.MappedProduct.Health.isHealthCHIMapped && plan == 'HEALTHCHI'">
                      <a class="nav-link active" data-toggle="pill" href="" (click)="navigate(0)">Complete Health
                        Insurance</a>
                    </li>
                    <li class="nav-item"
                      *ngIf="this.agentData.MappedProduct.Health.isHealthBoosterMapped && plan == 'HEALTHBOOSTER'">
                      <a class="nav-link active" data-toggle="pill" href="" (click)="navigate(1)">Health Booster</a>
                    </li>
                    <li class="nav-item"
                      *ngIf="this.agentData.MappedProduct.Health.isHealthPPAPMapped && plan ==  'HEALTHPPAP'">
                      <a class="nav-link active" data-toggle="pill" href="" (click)="navigate(2)">PPAP</a>
                    </li>
                    <li class="nav-item"
                      *ngIf="this.agentData.MappedProduct.Health.isHospifundMapped && plan ==  'HEALTHHOSPIFUND'">
                      <a class="nav-link active" data-toggle="pill" href="" (click)="navigate(3)">Hospifund</a>
                    </li>
                  </ul>
                </div>
                <!-- CHI Section Starts -->
                <div *ngIf='showCHI'>

                  <form [formGroup]="quoteForm">
                    <!-- NEW UI -->
                    <div class="row">
                      <!-- PRODUCT NAME -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="prdName" class="auto_height" style="padding-right: 17%;">Product Name</label>
                        <select formControlName="productName" (change)="getProductName($event)" required id="prdName"
                          class="custom-select" style="width: 65%;">
                          <option class="optionBG" value="" disabled selected>Select Product</option>
                          <option class="optionBG" value="PROTECT"
                            *ngIf="agentData.MappedProduct.Health.HealthCHISubProducts.Visible_HealthProtect && this.plan != 'HEALTHCHI-IHEALTH'">
                            Health Protect</option>
                          <option class="optionBG" value="PROTECTPLUS"
                            *ngIf="agentData.MappedProduct.Health.HealthCHISubProducts.Visible_HelathProtectPlus && this.plan != 'HEALTHCHI-IHEALTH'">
                            Health
                            Protect Plus
                          </option>
                          <option class="optionBG" value="SMART"
                            *ngIf="agentData.MappedProduct.Health.HealthCHISubProducts.Visible_HealthSmart && this.plan != 'HEALTHCHI-IHEALTH'">
                            Health
                            Smart</option>
                          <option class="optionBG" value="SMARTPLUS"
                            *ngIf="agentData.MappedProduct.Health.HealthCHISubProducts.Visible_HealthSmartPlus && this.plan != 'HEALTHCHI-IHEALTH'">
                            Health Smart Plus</option>
                          <option class="optionBG" value="iHealth"
                            *ngIf="agentData.MappedProduct.Health.HealthCHISubProducts.Visible_iHealth && (this.plan == 'HEALTHCHI-IHEALTH' || this.plan == 'HEALTHCHI')">
                            iHealth
                          </option>
                        </select>
                      </div>

                      <!-- STATE NAME -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="custState" class="auto_height" style="padding-right: 17%;">Customer State
                          (Applicable for GST)</label>
                        <select formControlName="state" (change)=getState($event) required id="custState"
                          class="custom-select" style="width: 65%;">
                          <option class="optionBG" value="" disabled selected>Select State</option>
                          <option class="optionBG" value={{state.StateName}} *ngFor="let state of stateMasterHB">
                            {{state.StateName | uppercase }}</option>
                        </select>
                      </div>

                      <!-- NUMBER OF ADULT -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 form-group" *ngIf="healthMasterResponse"
                        id="AdultNo">
                        <label class="auto_height">Number of Adult</label>
                        <div class="chkboxdiv">
                          <span *ngFor="let adult of healthMasterResponse.AdultResponse; let i=index">
                            <ng-container *ngIf="adult.AdultValue > 0">
                              <div class="form-check form-check-inline">
                                <input type="checkbox" (change)="getAdult($event)" value={{adult.AdultValue}}
                                  id="oneAdult{{adult.AdultValue}}" />
                                <label for="oneAdult{{adult.AdultValue}}"></label>
                              </div>
                            </ng-container>
                          </span>
                        </div>
                      </div>

                    </div>

                    <div class="row" *ngIf="isKeralaCess && isKeralaCessEnabled">
                      <!-- KERALA CESS -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <label class="auto_height">Are you registered with GST?</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="regGstCHIYes" name="regGst" [checked]="isRegWithGSTCHI==true"
                              (click)="isGSTRegCHI(true)" />
                            <label for="regGstCHIYes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="regGstCHIno" name="regGst" [checked]="isRegWithGSTCHI==false"
                              (click)="isGSTRegCHI(false)" />
                            <label for="regGstCHIno">No</label>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="row" *ngIf="quoteForm.get('productName').value" id="CHIRow2">

                      <!-- NUMBER OF CHILD -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 form-group" *ngIf="healthMasterResponse"
                        id="ChildNo">
                        <label class="auto_height">Number of Child</label>
                        <div class="chkboxdiv chldbox">
                          <span *ngFor="let child of childArray; let childIndex= index">
                            <ng-container *ngIf="child.NoofKids > 0">
                              <div class="form-check form-check-inline">
                                <input type="checkbox" (change)=getChild($event,child.NoofKids) value={{child.NoofKids}}
                                  id="oneChild{{child.NoofKids}}" />
                                <label for="oneChild{{child.NoofKids}}"></label>
                              </div>
                            </ng-container>
                          </span>
                        </div>
                      </div>

                      <!-- AGE OF ELDEST MEMBER -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group"
                        *ngIf="(noOfAudult || noOfChild) && showSlider" id="Eldestnum">
                        <div>
                          <label for="sirange">Age of Eldest Member (yrs)</label>
                          <ion-range-slider #range class="range" [from]='0' [values]="dataValues"
                            (onFinish)="getAgeStatus($event)">
                          </ion-range-slider>
                        </div>
                      </div>

                      <!-- POLICY TENURE -->
                      <div *ngIf='showPolicyTenure' class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-6 form-group"
                        id="PolicyTenure">
                        <div *ngIf="healthMasterResponse">
                          <label>Policy Tenure</label>
                          <div class="radioboxdiv">
                            <div class="form-check form-check-inline" *ngIf="healthMasterResponse.Tenure_1Yr_Visible">
                              <input type="radio" #tenureCheck id="oneyrPolten" name="policyten"
                                [checked]='button1=== true' />
                              <label for="oneyrPolten" (click)="selectTenure($event)">1 Year</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="healthMasterResponse.Tenure_2Yr_Visible">
                              <input #tenureCheck1 type="radio" id="twoyrPolten" name="policyten"
                                [checked]='button2 === true' />
                              <label for="twoyrPolten" (click)="selectTenure($event)"
                                [ngClass]="{'open': button2 === true}">2 Years</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="healthMasterResponse.Tenure_3Yr_Visible">
                              <input #tenureCheck2 type="radio" id="threeyrPolten" name="policyten"
                                [checked]='button3 === true' />
                              <label for="threeyrPolten" (click)="selectTenure($event)"
                                [ngClass]="{'open': button3 === true}">3 Years</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="noOfAudult || noOfChild">

                      <!-- ANNUAL SUM INSURED -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group"
                        *ngIf="quoteForm.value.eldestMemAge && showannualsum" id="AnnualSumInsured">
                        <label for="annSuminsrange" style="padding-right: 17%;">Annual Sum Insured</label>
                        <br>
                        <select formControlName="annualSumInsured" (change)=getSumInsured($event) required
                          id="custState" class="custom-select" style="width: 65%;">
                          <option class="optionBG" value="" disabled selected>Select Sum Insured</option>
                          <option class="optionBG" value={{sum.SumAmount}}
                            *ngFor="let sum of healthMasterResponse.SumInsuredDetails">
                            {{sum.SumAmount | formatnumbers}}
                          </option>
                        </select>
                      </div>

                      <!-- SUBLIMIT -->
                      <div *ngIf="false" class="col-xl-4 col-lg-3 col-md-3 col-sm-4 col-6 form-group" id="Sublimit">
                        <label>Sub Limit</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="sublimitYes" name="subLimit" [checked]='subilimitN == true' />
                            <label (click)="selectSublimit($event)" [ngClass]="{'open': subilimitN == true}"
                              for="sublimitYes">NONE</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <div *ngFor="let sub of healthMasterResponse.SubLimitResponse; let i = index;">
                              <input type="radio" id="sublimitno{{i+1}}" name="subLimit" />
                              <label style="margin-right: 5px;" (click)="selectSublimit($event)"
                                for="sublimitno{{i+1}}">{{sub.SubLimitValue}}</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- ADD ON COVER 1 -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group" *ngIf="showAddOnCover1"
                        id="AddOn1Cover">
                        <label class="auto_height">Optional Add-on Covers 1 ( All Member )</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input (click)="toggle()" type="radio" [checked]='show==true' id="addonCoverYes"
                              name="addOnCover1" checked="checked" />
                            <label for="addonCoverYes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input (click)="toggle()" type="radio" [checked]='show==false' id="addonCoverno"
                              name="addOnCover1" />
                            <label for="addonCoverno">No</label>
                          </div>
                        </div>
                      </div>

                    </div>


                    <!-- ADD ON COVERS -->
                    <div class="row" *ngIf="quoteForm.get('productName').value" id="AddonCovers">

                      <!-- ANNUAL PREMIUM INSURED TABLE -->
                      <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8 col-12 form-group innertable"
                        *ngIf="productCode == 14 || productCode == 17 && showinsuredTable" id="annualsumtable">
                        <div class="tablediv no_border no_padding no_margin"
                          *ngIf="this.quoteForm.value.eldestMemAge && this.quoteForm.value.annualSumInsured">

                          <table>
                            <thead>
                              <tr>
                                <th></th>
                                <th>Annual Sum Insured</th>
                                <th>Premium</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf='showMaxInsured'>
                                <td>
                                  <input type="checkbox" id="annSumins1" [checked]="isChecked"
                                    (click)="getPremium($event)" />
                                  <label for="annSumins1"></label>
                                </td>
                                <td>
                                  <span *ngIf="inputLoadingPlan">
                                    <img style="width:15%;" src="./assets/images/loader1.gif" />
                                  </span>
                                  <span
                                    *ngIf="inputLoadingPlan==false && nextAmountPremRes">{{nextAmountPremRes.HealthDetails[0].InsuredAmount | formatnumbers}}</span>
                                </td>
                                <td>
                                  <span *ngIf="inputLoadingPlan">
                                    <img style="width:15%;" src="./assets/images/loader1.gif" />
                                  </span>
                                  <span *ngIf="inputLoadingPlan==false && nextAmountPremRes">
                                    ₹ {{nextAmountPremRes.HealthDetails[0].TotalPremium | formatnumbers}}
                                  </span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="checkbox" id="annSumins2" [checked]="isChecked1"
                                    (click)="getPremium1($event)" />
                                  <label for="annSumins2"></label>
                                </td>
                                <td>
                                  <span *ngIf="inputLoadingPlan">
                                    <img style="width:15%;" src="./assets/images/loader1.gif" />
                                  </span>
                                  <span
                                    *ngIf="inputLoadingPlan==false && oldQuoteRes">{{oldQuoteRes.HealthDetails[0].InsuredAmount | formatnumbers}}</span>
                                </td>
                                <td>
                                  <span *ngIf="inputLoadingPlan">
                                    <img style="width:15%;" src="./assets/images/loader1.gif" />
                                  </span>
                                  <span *ngIf="inputLoadingPlan==false && oldQuoteRes">
                                    ₹ {{oldQuoteRes.HealthDetails[0].TotalPremium | formatnumbers}}
                                  </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group"
                        *ngIf="showAddOnCover3 && this.quoteForm.value.annualSumInsured" id="AddOn3">
                        <label class="auto_height">Optional add-on cover 3 ( All Insured )</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input (click)="toggle1()" type="radio" [checked]='show1==true' id="addonCoverYes1"
                              name="addOnCover3" />
                            <label for="addonCoverYes1">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input (click)="toggle1()" type="radio" [checked]='show1==false' id="addonCoverno1"
                              name="addOnCover3" />
                            <label for="addonCoverno1">No</label>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group"
                        *ngIf="showAddOnCover5 && this.quoteForm.value.annualSumInsured && noOfAudult ">
                        <label class="auto_height">Optional add-on cover 5 ( Member Basis )</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input (click)="toggle2()" type="radio" (change)="addOnYesNo($event)" [checked]='false'
                              id="addonCoverYes2" name="addOnCover5" />
                            <label for="addonCoverYes2">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input (click)="toggle2()" type="radio" (change)="addOnYesNo($event)" [checked]='true'
                              id="addonCoverno2" name="addOnCover5" />
                            <label for="addonCoverno2">No</label>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group"
                        *ngIf="showAddOnCover6 && this.quoteForm.value.annualSumInsured && noOfAudult">
                        <label class="auto_height">Optional add-on cover 6(Member Basis)</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input value='Yes' (click)="toggle3(true)" type="radio" (change)="addOnYesNo($event)"
                              [checked]='false' id="addonCoverYes3" name="addOnCover6" />
                            <label for="addonCoverYes3">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input value='No' (click)="toggle3(false)" type="radio" (change)="addOnYesNo($event)"
                              [checked]='true' id="addonCoverno3" name="addOnCover6" />
                            <label for="addonCoverno3">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8 col-12 form-group innertable" *ngIf="(showAddOnCover5 && showAdultTable && addOnCoverBasedOnAge && toggleButton1) || 
                    (showAddOnCover6 && showAdultTable && addOnCoverBasedOnAge && toggleButton)">
                        <div class="tablediv no_border no_padding no_margin">
                          <label>Select Members for Add-on-Cover(optional)</label>
                          <table id="customers">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Member</th>
                                <th>Age Limit</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="noOfAudult == '1' || noOfAudult == '2'">
                                <td style="text-align:center;">
                                  <input type="checkbox" id="annSumins5" value="isAdult1" (change)="isAdult($event)" />
                                  <label for="annSumins5"></label>
                                  <!-- <ion-checkbox color="primary" value="isAdult1" (ionChange)="isAdult($event)" checked="true">
                            </ion-checkbox> -->
                                </td>
                                <td>Adult 1</td>
                                <td>
                                  <input formControlName="memberAge1" readonly />
                                  {{quoteForm.controls.memberAge1.value}}
                                </td>
                              </tr>
                              <tr *ngIf="noOfAudult == '2'">
                                <td style="text-align:center;">
                                  <input type="checkbox" id="annSumins6" value="isAdult2" (change)="isAdult($event)" />
                                  <label for="annSumins6"></label>
                                  <!-- <ion-checkbox color="primary" value="isAdult2" (ionChange)="isAdult($event)" checked="true">
                            </ion-checkbox> -->
                                </td>
                                <td>Adult 2</td>
                                <td>
                                  <select id="addonmem" placeholder="Select Member 2 Age" formControlName="memberAge2"
                                    class="custom-select">
                                    <option class="optionBG" value="" disabled selected>Age</option>
                                    <option class="optionBG" value={{mem2Age.AgeValue}}
                                      *ngFor="let mem2Age of adult2AgeArray">{{mem2Age.AgeValue}}</option>
                                  </select>
                                  <!-- <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                              placeholder="Select Member 2 Age" formControlName="memberAge2">
                              <ion-select-option value={{mem2Age.AgeValue}} *ngFor="let mem2Age of adult2AgeArray">
                                {{mem2Age.AgeValue}}</ion-select-option>
                            </ion-select> -->
                                </td>
                              </tr>
                            </tbody>

                          </table>


                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="quoteForm.get('productName').value">
                      <div class="col-xl-12 col-lg-3 col-md-4 col-sm-5 col-12 form-group" style="text-align: center;"
                        *ngIf="(showAddOnCover5 && showAdultTable && addOnCoverBasedOnAge && toggleButton) || 
                      (showAddOnCover6 && showAdultTable && addOnCoverBasedOnAge && toggleButton)">
                        <input type="submit" value="Recalculate" id="btnSubmit" class="cstmbtn"
                          (click)="reCalculateQuote(quoteForm)" />
                      </div>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <div class="text-center" *ngIf="showNextButton">

                      <input type="submit" value="Next" id="btnSubmit" class="cstmbtn"
                        (click)="checkProductForIndOrFloater(quoteForm)"
                        *ngIf='productName=="SMART" || productName=="SMARTPLUS" || productName=="PROTECTPLUS"' />

                      <input type="submit" value="Next" id="btnSubmit" class="cstmbtn" (click)="showPremium()"
                        *ngIf='productName!="SMART" && productName!="SMARTPLUS" && productName!="PROTECTPLUS"' />



                      <!-- <input *ngIf='productName!="SMART" && productName!="SMARTPLUS"' type="submit" value="Next" id="btnSubmit" class="cstmbtn" (click)="showPremium()" /> -->
                    </div>

                  </form>

                </div>
                <!-- CHI Section Ends -->

                <!-- Health Booster Section Starts -->
                <div *ngIf='showHealthBooster'>
                  <form [formGroup]="quoteFormHB">
                    <!-- NEW UI -->
                    <div class="row">
                      <!-- PRODUCT NAME -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="prdName" class="auto_height" style="padding-right: 17%;">Product Name</label>
                        <select formControlName="productName" (change)="getProductNameHB($event)" id="prdName"
                          class="custom-select" style="width: 65%;">
                          <option class="optionBG" value="" disabled selected>Select Product</option>
                          <option class="optionBG" value="HBOOSTER_TOPUP"
                            *ngIf="agentData.MappedProduct.Health.HealthBoosterSubProducts.Visible_Topup">
                            Top Up Plan</option>
                          <option class="optionBG" value="HBOOSTER_SUPERUP"
                            *ngIf="agentData.MappedProduct.Health.HealthBoosterSubProducts.Visible_SuperTopup">Super
                            Top Up Plan
                          </option>
                        </select>
                      </div>

                      <!-- STATE NAME -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="custState" class="auto_height" style="padding-right: 17%;">Customer State
                          (Applicable for GST)</label>
                        <select id="custState" formControlName="state" (change)=getStateHB($event) class="custom-select"
                          style="width: 65%;">
                          <option class="optionBG" value="" disabled selected>Select State</option>
                          <option class="optionBG" value={{state.StateName}} *ngFor="let state of stateMasterHB">
                            {{state.StateName | uppercase }}
                          </option>
                        </select>
                      </div>

                      <!-- SOFT COPY DISCOUNT -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-12 form-group">
                        <label for="prdName" class="auto_height" style="padding-right: 17%;">Soft Copy Discount</label>
                        <select (change)="changesoftcopyValHB($event)" formControlName="SoftLessCopy" id="prdName"
                          class="custom-select" style="width: 85%;">
                          <option class="optionBG" value="" disabled selected>Select Soft Copy Discount</option>
                          <option class="optionBG" value="true">Yes</option>
                          <option class="optionBG" value="false">No</option>
                        </select>
                      </div>

                    </div>

                    <div class="row" *ngIf="isKeralaCessHB && isKeralaCessEnabled">
                      <!-- KERALA CESS -->
                      <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label class="auto_height">Are you registered with GST?</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="regGstHBYes" name="regGst" [checked]="isRegWithGSTHB==true"
                              (click)="isGSTRegHB(true)" />
                            <label for="regGstHBYes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="regGstHBno" name="regGst" [checked]="isRegWithGSTHB==false"
                              (click)="isGSTRegHB(false)" />
                            <label for="regGstHBno">No</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="healthMasterResponseHB">
                      <!-- INSURED AMOUNT -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-12 form-group"
                        *ngIf="quoteFormHB.get('productName').value && showSliderHB">
                        <div>
                          <label for="annSuminsrange">Annual Sum Insured</label>
                          <ion-range-slider [from]="0" [values]="dataValuesHB" (onFinish)="getVDValuesHB($event)">
                          </ion-range-slider>
                          <!-- <ion-range (ionChange)="getVDValuesHB($event)" [(ngModel)]="sliderrange" [from]="0" [values]="dataValuesHB"></ion-range> -->
                        </div>
                      </div>

                      <!-- NUMBER OF ADULTS -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label class="auto_height">Number of Adult</label>
                        <div class="chkboxdiv">
                          <span *ngFor="let adult of healthMasterResponseHB.AdultResponse; let i=index">
                            <ng-container *ngIf="adult.AdultValue > 0">
                              <div class="form-check form-check-inline">
                                <input type="checkbox" (change)="getAdultHB($event)" [checked]='adult.checked'
                                  value={{adult.AdultValue}} id="oneAdult{{adult.AdultValue}}" />
                                <label for="oneAdult{{adult.AdultValue}}"></label>
                              </div>
                            </ng-container>
                          </span>
                        </div>
                      </div>
                      <!-- NUMBER OF CHILD -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group"
                        *ngIf="quoteFormHB.get('productName').value">
                        <label class="auto_height">Number of Child</label>
                        <div class="chkboxdiv chldbox">
                          <span *ngFor="let child of childArrayHB; let childIndex= index">
                            <ng-container *ngIf="child.NoofKids > 0">
                              <div class="form-check form-check-inline">
                                <input type="checkbox" (change)=getChildHB($event,child.NoofKids)
                                  value={{child.NoofKids}} id="oneChild{{child.NoofKids}}" />
                                <label for="oneChild{{child.NoofKids}}"></label>
                              </div>
                            </ng-container>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row" *ngIf="quoteFormHB.get('productName').value && showSliderHB">

                      <!-- VD DETAILS -->
                      <div *ngIf="quoteFormHB.get('annualSumInsured').value"
                        class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-12 form-group">
                        <label for="vdDetails" style="padding-right: 17%;">Voluntary Deductible Sum</label>
                        <select id="vdDetails" formControlName="VDValues" class="custom-select" style="width: 65%;">
                          <option class="optionBG" value="" disabled selected>Select VD Value</option>
                          <ng-container *ngIf="!vDMapArray.length">
                            <option class="optionBG" value={{vDMapArray.value}}>{{vDMapArray.value | formatnumbers}}
                            </option>
                          </ng-container>
                          <ng-container *ngIf="vDMapArray.length">
                            <option class="optionBG" value={{vd.value}} *ngFor="let vd of vDMapArray">
                              {{vd.value | formatnumbers}}
                            </option>
                          </ng-container>
                        </select>
                      </div>

                      <!-- DOB OF ADULT 1 -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group dob2" *ngIf="noOfAudultHB > 0">
                        <label for="prdName" class="auto_height">Date of Birth of Adult 1</label>
                        <br>
                        <mat-form-field class="example-full-width">
                          <input readonly matInput class="form-control" style="background: none;" [min]="meminDOBHB"
                            [max]="memmaxDOBHB" (click)="picker.open()" [matDatepicker]="picker"
                            formControlName="Adult1Age" (dateChange)="getDateHB($event)">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <!-- DOB OF ADULT 2 -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group dob2"
                        *ngIf="noOfAudultHB == '2'">
                        <label for="prdName" class="auto_height">Date of Birth of Adult 2</label>
                        <br>
                        <mat-form-field class="example-full-width">
                          <input readonly class="form-control" style="background: none;" matInput [min]="meminDOBHB"
                            [max]="memmaxDOBHB" (click)="picker2.open()" [matDatepicker]="picker2"
                            formControlName="Adult2Age" (dateChange)="getDate1HB($event)">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>


                    <!-- ADD ON COVERS -->

                    <div class="row" *ngIf="quoteFormHB.get('productName').value">
                      <!-- ADD ON COVER 1 -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group">
                        <label class="auto_height">Optional Add-on Covers 1( All Member )</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input (click)="toggleHB()" type="radio" id="addonCoverYes" [checked]='showHB==true'
                              name="addonCover" />
                            <label for="addonCoverYes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input (click)="toggleHB()" type="radio" id="addonCoverno" [checked]='showHB==false' />
                            <label for="addonCoverno">No</label>
                          </div>
                        </div>
                      </div>


                      <!-- ADD ON COVER 2 -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group" *ngIf="noOfAudultHB">
                        <label class="auto_height">Optional Add-on Covers 2 ( Member Basis )</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input (click)="toggle1HB()" type="radio" (change)="addOnYesNoHB($event, 'AddOn2')"
                              id="addonCover2Yes" [checked]='showaddon2HB==true' name="addonCover2" />
                            <label for="addonCover2Yes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input (click)="toggle1HB()" type="radio" (change)="addOnYesNoHB($event, 'AddOn2')"
                              id="addonCover2no" [checked]='showaddon2HB==false' />
                            <label for="addonCover2no">No</label>
                          </div>
                        </div>
                      </div>

                      <!-- ADD ON COVER 3 -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group" *ngIf="noOfAudultHB">
                        <label class="auto_height">Optional Add-on Covers 3 ( Member Basis )</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input (click)="toggle2HB()" type="radio" (change)="addOnYesNoHB($event, 'AddOn3')"
                              id="addonCover3Yes" [checked]='showaddon3HB==true' name="addonCover3" />
                            <label for="addonCover3Yes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input (click)="toggle2HB()" type="radio" (change)="addOnYesNoHB($event, 'AddOn3')"
                              id="addonCover3no" [checked]='showaddon3HB==false' />
                            <label for="addonCover3no">No</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- ADD ON VARIENT -->
                    <div class="row" *ngIf="healthMasterResponseHB">
                      <!-- ADDON 1 VARIENT -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group">
                        <ion-radio-group formControlName="AddOn1Varient" *ngIf="showHB">
                          <label class="auto_height">Select for Add-on-Cover 1</label>
                          <ion-row>
                            <ion-col>
                              <ion-label class="innerText"> Silver </ion-label>
                              <ion-radio value="SILVER"></ion-radio>
                            </ion-col>
                            <ion-col>
                              <ion-label class="innerText"> Gold </ion-label>
                              <ion-radio value="GOLD"></ion-radio>
                            </ion-col>
                          </ion-row>
                        </ion-radio-group>
                      </div>

                      <!-- ADDON 2 VARIENT -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group">
                        <ion-radio-group formControlName="AddOn2Varient" *ngIf="showaddon2HB">
                          <label class="auto_height">Select for Add-on-Cover 2</label>
                          <ion-row>
                            <ion-col>
                              <ion-label class="innerText"> Silver </ion-label>
                              <ion-radio value="SILVER"></ion-radio>
                            </ion-col>
                            <ion-col>
                              <ion-label class="innerText"> Gold </ion-label>
                              <ion-radio value="GOLD"></ion-radio>
                            </ion-col>
                          </ion-row>
                        </ion-radio-group>
                      </div>

                      <!-- ADDON 3 VARIENT -->
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group">
                        <ion-radio-group formControlName="AddOn3Varient" *ngIf="showaddon3HB">
                          <label class="auto_height">Select for Add-on-Cover 3</label>
                          <ion-row>
                            <ion-col>
                              <ion-label class="innerText"> Silver </ion-label>
                              <ion-radio value="SILVER"></ion-radio>
                            </ion-col>
                            <ion-col>
                              <ion-label class="innerText"> Gold </ion-label>
                              <ion-radio value="GOLD"></ion-radio>
                            </ion-col>
                          </ion-row>
                        </ion-radio-group>
                      </div>
                    </div>

                    <div class="row" *ngIf="healthMasterResponseHB">
                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group">
                        <div *ngIf="quoteFormHB.get('AddOn2').value && quoteFormHB.get('AddOn2Varient').value">

                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group">
                        <!-- MEMBERS FOR ADDON 2 -->
                        <div formGroupName="Addon2Members"
                          *ngIf="quoteFormHB.get('AddOn2').value && quoteFormHB.get('AddOn2Varient').value">
                          <ion-item>
                            <label class="auto_height">Members for Add-on-Cover 2 (Optional)</label>
                          </ion-item>
                          <table id="customers" formGroupName="Member">
                            <tr>
                              <td style="text-align:center;">
                                <ion-checkbox color="primary" formControlName="AdultType"></ion-checkbox>
                              </td>
                              <td>Adult 01</td>
                            </tr>
                            <tr *ngIf="noOfAudultHB == '2'">
                              <td style="text-align:center;">
                                <ion-checkbox color="primary" formControlName="AdultType2"></ion-checkbox>
                              </td>
                              <td>Adult 02</td>
                            </tr>
                          </table>
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-3 col-md-4 col-sm-5 col-12 form-group">
                        <!-- MEMBERS FOR ADDON COVER 3 -->
                        <div formGroupName="Addon3Members" *ngIf="quoteFormHB.get('AddOn3').value 
                        && quoteFormHB.get('AddOn3Varient').value">
                          <ion-item>
                            <label class="auto_height">Members for Add-on-Cover 3 (Optional)</label>
                          </ion-item>
                          <table id="customers" formGroupName="Member">
                            <tr>
                              <td style="text-align:center;">
                                <ion-checkbox color="primary" formControlName="AdultType" value="Adult1">
                                </ion-checkbox>
                              </td>
                              <td>Adult 01</td>
                            </tr>
                            <tr *ngIf="noOfAudultHB == '2'">
                              <td style="text-align:center;">
                                <ion-checkbox color="primary" formControlName="AdultType2" value="Adult2">
                                </ion-checkbox>
                              </td>
                              <td>Adult 02</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>


                    <!-- SUBMIT(GET QUOTE) BUTTON -->
                    <div class="text-center">
                      <input type="submit" value="Get Quote" id="btnSubmit" class="cstmbtn"
                        (click)="calculateQuoteHB(quoteFormHB)" *ngIf='!isHBoosterRecalculate' />
                      <input type="submit" value="Recalculate" id="btnSubmit" class="cstmbtn"
                        (click)="calculateQuoteHB(quoteFormHB)" *ngIf='isHBoosterRecalculate' />
                    </div>

                  </form>
                </div>
                <!-- Health Booster Section Ends -->

                <!-- PPAP Section Starts -->
                <div *ngIf='showPPAP'>
                  <form (ngSubmit)="generateQuote(ppapQuoteForm)" #ppapQuoteForm="ngForm">
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="subProuctType" class="auto_height">Product Sub
                          Type</label>
                        <select class="custom-select" id="subProuctType" name="subProuctType"
                          [(ngModel)]="selectedSubType" (ngModelChange)="getSubType(selectedSubType)"
                          #subProuctType="ngModel" required style=" overflow: hidden;
                          word-wrap: normal !important;
                          white-space: normal;height:60px;">
                          <option class="optionBG" value='' selected disabled style="width: 75%;">Select Sub
                            Type</option>
                          <option class="optionBG" value="0">Lump sum payment option</option>
                          <option class="optionBG" value="1">Monthly payment option</option>
                          <option class="optionBG" value="2" style="white-space:pre-wrap;">Lump sum payment option with
                            monthly payout</option>
                        </select>
                        <div *ngIf="subProuctType.invalid && (subProuctType.dirty || subProuctType.touched)"
                          style="color:maroon">
                          <div *ngIf="subProuctType.errors.required">
                            Product Sub Type is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">

                        <label for="occupationType" class="auto_height">Occupation of
                          Insured</label>
                        <select class="custom-select" id="occupationType" name="occupationType"
                          [(ngModel)]="selectedOccupationType" #occupationType="ngModel"
                          (ngModelChange)="getOccupation(selectedOccupationType)" [disabled]="selectedSubType==''"
                          required style="height:60px;">
                          <option class="optionBG" value='' selected disabled>Select Occupation</option>
                          <option class="optionBG" value="0">Salaried</option>
                          <option class="optionBG" value="1">Self Employed</option>
                          <option class="optionBG" value="2">Housewife</option>
                          <option class="optionBG" value="3">Student</option>
                          <option class="optionBG" value="4">Retired</option>
                          <!-- <option class="optionBG" value="5">Business man</option> -->
                        </select>
                        <div *ngIf="occupationType.invalid && (occupationType.dirty || occupationType.touched)"
                          style="color:maroon">
                          <div *ngIf="occupationType.errors.required">
                            Occupation of Insured is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="occupationType" class="auto_height">Customer
                          State (Applicable for
                          GST)</label>
                        <select class="custom-select" id="gstState" name="gstState" [(ngModel)]="selectedState"
                          #gstState="ngModel" (ngModelChange)="getStatePPAP(selectedState)" required style="height:60px;">
                          <option class="optionBG" value='' selected disabled>Select State</option>
                          <option class="optionBG" *ngFor="let s of stateMasterHB" [value]="s.StateId">{{s.StateName}}
                          </option>
                        </select>
                        <div *ngIf="gstState.invalid && (gstState.dirty || gstState.touched)" style="color:maroon">
                          <div *ngIf="gstState.errors.required">
                            State is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="moreDetails">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group"
                        *ngIf='selectedState == 62 && isKeralaCessEnabled'>
                        <label class="auto_height">Are you registered with GST?</label>
                        <div class="radioboxdiv">
                          <div class="form-check form-check-inline">
                            <input type="radio" id="regGstYes" name="regGst" [checked]="isRegWithGST==true"
                              (click)="isGSTReg(true)" />
                            <label for="regGstYes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" id="regGstno" name="regGst" [checked]="isRegWithGST==false"
                              (click)="isGSTReg(false)" />
                            <label for="regGstno">No</label>
                          </div>
                        </div>

                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="occupationType" class="auto_height" style="padding-right: 17%;">Annual Income of
                          Insured</label>
                        <select class="custom-select" id="annualIncomeType" name="annualIncomeType"
                          [(ngModel)]="annual_income" #annualIncomeType="ngModel"
                          (ngModelChange)="getAnnualIncome(selectedState)" required style="width: 75%;">
                          <option class="optionBG" value='' selected disabled>Select Annual Income</option>
                          <option class="optionBG" *ngFor="let i of incomeData" [value]="i.Income">{{i.Income}} Lacs
                          </option>
                        </select>
                        <div *ngIf="annualIncomeType.touched && annualIncomeType.errors?.required">
                          Anuual Income Insured is required.
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="occupationType" class="auto_height">Date of Birth Insured </label>
                        <br>
                        <mat-form-field>
                          <input class="form-control" style="background: none;" matInput [matDatepicker]="picker"
                            [max]="maxRiskDate" (click)="picker.open()" [(ngModel)]="dob" id="dobValidator"
                            name="dobValidator" #dobValidator="ngModel" readonly required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="policyValidator" class="auto_height" style="padding-right: 17%;">Policy
                          Duration</label>
                        <select class="custom-select" [(ngModel)]="policy_duration" id="policyValidator"
                          name="policyValidator" #policyValidator="ngModel"
                          (ngModelChange)="getPolicyDuration(policy_duration)" required style="width: 75%;">
                          <option class="optionBG" value='' selected disabled>Select Policy Duration</option>
                          <option class="optionBG" *ngFor="let p of policyData" value="{{p.Value}}">{{p.Value}} Year
                          </option>
                        </select>
                        <div *ngIf="policyValidator.invalid && (policyValidator.dirty || policyValidator.touched)"
                          style="color:maroon">
                          <div *ngIf="policyValidator.touched && policyValidator.errors?.required">
                            Policy Duration is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="moreDetails && isPPAPPC">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="occupationType" class="auto_height" style="padding-right: 17%;">Payout Amount
                          (₹)</label>
                        <select class="custom-select" [(ngModel)]="payout_amount"
                          (ngModelChange)="getPayoutAmount(payout_amount)" id="payoutAmtValidator"
                          name="payoutAmtValidator" #payoutAmtValidator="ngModel" required style="width: 75%;">
                          <option class="optionBG" value='' selected disabled>Select Payout Amount</option>
                          <option class="optionBG" value="{{payAmount.Value}}" *ngFor="let payAmount of payoutAmount">
                            {{payAmount.Value | formatnumbers}}
                          </option>
                        </select>
                        <div
                          *ngIf="payoutAmtValidator.invalid && (payoutAmtValidator.dirty || payoutAmtValidator.touched)"
                          style="color:maroon">
                          <div *ngIf="payoutAmtValidator.touched && payoutAmtValidator.errors?.required">
                            Payout Amount is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="policyValidator" class="auto_height" style="padding-right: 17%;">Payout
                          Tenure</label>
                        <select class="custom-select" [(ngModel)]="payout_tenure"
                          (ngModelChange)="getPayoutTenure(payout_tenure)" id="payoutTenureValidator"
                          name="payoutTenureValidator" #payoutTenureValidator="ngModel" required style="width: 75%;">
                          <option class="optionBG" value='' selected disabled>Select Payout Tenure</option>
                          <option class="optionBG" value="{{paytenure.Value}}" *ngFor="let paytenure of payoutTenure">
                            {{paytenure.Value}}
                          </option>
                        </select>
                        <div
                          *ngIf="payoutTenureValidator.invalid && (payoutTenureValidator.dirty || payoutTenureValidator.touched)"
                          style="color:maroon">
                          <div *ngIf="payoutTenureValidator.touched && payoutTenureValidator.errors?.required">
                            Payout Tenure is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group" *ngIf="isPPC">
                        <label for="occupationType" class="auto_height" style="padding-right: 17%;">Lump Sum
                          Payment</label>
                        <select class="custom-select" [(ngModel)]="lump_sum_payment"
                          (ngModelChange)="getLumPSumpAmt(lump_sum_payment)" id="lumSumpAmtValidator"
                          name="lumSumpAmtValidator" #lumSumpAmtValidator="ngModel" required style="width: 75%;">
                          <option class="optionBG" value='' selected disabled>Select Lump Sum Payment</option>
                          <option class="optionBG" value="{{l}}" *ngFor="let l of lumpsum">{{l}}</option>
                        </select>
                        <div
                          *ngIf="lumSumpAmtValidator.invalid && (lumSumpAmtValidator.dirty || lumSumpAmtValidator.touched)"
                          style="color:maroon">
                          <div *ngIf="lumSumpAmtValidator.touched && lumSumpAmtValidator.errors?.required">
                            Lump Sum Payment is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group"
                        *ngIf="moreDetails && isPPC && showPPCSumInsured">
                        <label for="occupationType" class="auto_height">Sum Insured (₹)</label>
                        <input type="text" [(ngModel)]="ppc_sum_insured" readonly id="ppcSumInsuredValidator"
                          name="ppcSumInsuredValidator" #ppcSumInsuredValidator="ngModel" required
                          class="form-control" />
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group"
                        *ngIf="moreDetails && isPPA && showPPASumInsured">
                        <label for="occupationType" class="auto_height">Sum Insured (₹)</label>
                        <input type="text" [(ngModel)]="ppa_sum_insured" readonly id="ppaSumInsuredValidator"
                          name="ppaSumInsuredValidator" #ppaSumInsuredValidator="ngModel" required
                          class="form-control" />
                      </div>
                    </div>
                    <div class="row" *ngIf='moreDetails'>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group" *ngIf="!isPPA && !isPPC">
                        <label for="occupationType" class="auto_height" style="padding-right: 17%;">Sum Insured
                          (₹)</label>
                        <select class="custom-select" [(ngModel)]="sum_insured"
                          (ngModelChange)="getPPAPSumInsured(sum_insured)" id="sumInsuredValidator"
                          name="sumInsuredValidator" #sumInsuredValidator="ngModel" required style="width: 75%;">
                          <option class="optionBG" value='' selected disabled>Select Sum Insured</option>
                          <option class="optionBG" *ngFor="let s of sumInsuredArray" value="{{s.Value}}">
                            {{s.Value | formatnumbers}}
                          </option>
                        </select>
                        <div
                          *ngIf="sumInsuredValidator.invalid && (sumInsuredValidator.dirty || sumInsuredValidator.touched)"
                          style="color:maroon">
                          <div *ngIf="sumInsuredValidator.touched && sumInsuredValidator.errors?.required">
                            Sum Insured is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group" *ngIf="canShowOptions">
                        <label for="occupationType" class="auto_height" style="padding-right: 23%;">Plan</label>
                        <select class="custom-select" [(ngModel)]="insured_options"
                          (ngModelChange)="getOptions(insured_options)" id="sumOptionValidator"
                          name="sumOptionValidator" #sumOptionValidator="ngModel" required style="width: 75%;">
                          <option class="optionBG" value='' selected disabled>Select Plan</option>
                          <option class="optionBG" *ngFor="let o of optionsArray; let i = index" value="{{o.PlanCode}}">
                            Plan {{i+1}}
                          </option>
                        </select>
                        <div
                          *ngIf="sumOptionValidator.invalid && (sumOptionValidator.dirty || sumOptionValidator.touched)"
                          style="color:maroon">
                          <div *ngIf="sumOptionValidator.touched && sumOptionValidator.errors.required">
                            Option is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="moreDetails && canShowOptionsDetails">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group">
                        <div *ngFor="let odetails of OptionsDetailsArray; let i=index">
                          <p class="benefits-header">Benefit - {{i+1}}</p>
                          <div *ngIf="odetails.TXT_COVERNAME != null && odetails.TXT_COVERNAME != ''"
                            style="padding-bottom:10px;">
                            <span class="benefits-subheader">Cover/Extn Name : </span>
                            <span class="benefits-contents">{{odetails.TXT_COVERNAME}}</span>
                          </div>
                          <div *ngIf="odetails.NUM_MAX_SI != null && odetails.NUM_MAX_SI != ''"
                            style="padding-bottom:10px;">
                            <span class="benefits-subheader">Cover/Extn MaxSI : </span>
                            <span class="benefits-contents"> ₹ {{odetails.NUM_MAX_SI}}</span>
                          </div>
                          <div *ngIf="odetails.TXT_BENEFIT_REMARKS != null && odetails.TXT_BENEFIT_REMARKS != ''"
                            style="padding-bottom:10px;">
                            <span class="benefits-subheader">Benefit Amount : </span>
                            <span class="benefits-contents">{{odetails.TXT_BENEFIT_REMARKS}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="button" (click)="generateQuote(ppapQuoteForm);" class="cstmbtn"
                        *ngIf='!isPPAPRecalculate'>Next</button>
                      <button type="button" (click)="generateQuote(ppapQuoteForm);" class="cstmbtn"
                        *ngIf='isPPAPRecalculate'>Next</button>
                    </div>
                  </form>
                </div>
                <!-- PPAP Section Ends -->

                <!-- HOSPIFUND STARTS -->
                <div *ngIf='showHospifund'>
                  <form name='form' (ngSubmit)="goToPremium(QuoteForm)" #QuoteForm="ngForm">
                    <div class="row">
                      <!-- INSURED DOB -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group dob2">
                        <label for="dob" class="auto_height">Insured DOB<sup>*</sup></label>
                        <br>
                        <mat-form-field class="example-full-width">
                          <input readonly matInput class="form-control" style="background: none;" [min]="minHospiDate"
                            [max]="maxHospiDate" (click)="hospifund30.open()" [matDatepicker]="hospifund30"
                            [(ngModel)]="dobInsured" id="HospiDate" name="HospiDate" #HospiDate="ngModel">
                          <mat-datepicker-toggle matSuffix [for]="hospifund30"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #hospifund30></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="HospiDate.invalid && (HospiDate.dirty || HospiDate.touched)" style="color:maroon">
                          <div *ngIf="HospiDate.errors.required">
                            Insured DOB is required.
                          </div>
                        </div>
                      </div>
                      <!-- CUSTOMER STATE -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="state" class="auto_height">Customer State (for GST)<sup>*</sup></label>
                        <select id="state" name="state" #state="ngModel" required class="custom-select"
                          [(ngModel)]="selectedState" (ngModelChange)="getStateHospiFund(selectedState)">
                          <option class="optionBG" value="0" selected disabled>Select State</option>
                          <option class="optionBG" *ngFor="let s of stateMasterHB" [value]="s.StateId">{{s.StateName}}
                          </option>
                        </select>
                        <div *ngIf="state.invalid && (state.dirty || state.touched)" style="color:maroon">
                          <div *ngIf="state.errors.required">
                            Customer State is required.
                          </div>
                        </div>
                      </div>

                      <!-- SI PER DAY/SI PER EVENT -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="sirange" class="auto_height">SI per Day/ SI per Event in ₹<sup>*</sup></label>
                        <div>
                          <ion-range-slider #range class="range" [from]="0" [values]="siDataValues"
                            (onFinish)="onFinishSlidingSI($event)">
                          </ion-range-slider>
                        </div>
                      </div>

                      <!-- MAX NUMBER OF DAYS -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="maxdaysrange">Max No of Days<sup>*</sup></label>
                        <div>
                          <ion-range-slider class="range" type="single" [from]="0" [values]="noOfDaysValues"
                            (onFinish)="onFinishSlidingDays($event)">
                          </ion-range-slider>
                        </div>
                      </div>

                      <!-- BENEFIT OPTIONS -->
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">
                        <label for="benefitOptions">Benefit Options<sup>*</sup></label>
                        <div class="rangediv">
                          <select id="benefitOptions" name="benefitOptions" #benefitOptions="ngModel" required
                            class="custom-select" [(ngModel)]="selectedOption"
                            (ngModelChange)="getBenefitOptions(selectedOption)">
                            <option class="optionBG" value="" disabled selected hidden>Select Options</option>
                            <option class="optionBG" value="0">Option A</option>
                            <option class="optionBG" value="1">Option B</option>
                            <option class="optionBG" value="2">Option C</option>
                            <option class="optionBG" value="3">Option D</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="tablediv" *ngIf='selectedOption!=""'>
                      <h3 *ngIf='selectedOption!=""'>base benefit</h3>
                      <table *ngIf='selectedOption!=""'>
                        <thead>
                          <tr>
                            <th></th>
                            <th>Cover Names</th>
                            <th>SI per Day/ SI per Event</th>
                            <th>Max No of Days</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngIf='(selectedOption==0 || selectedOption==1 || selectedOption==2 || selectedOption==3) && selectedOption!=""'>
                            <td>
                              <input type="checkbox" id="hospbenfit" [(ngModel)]="baseBenefit1"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="hospbenfit"></label>
                            </td>
                            <td>Hospitalization Cash Benefit</td>
                            <td> {{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr
                            *ngIf='(selectedOption==0 || selectedOption==1 || selectedOption==2 || selectedOption==3) && selectedOption!=""'>
                            <td>
                              <input type="checkbox" id="acchospbenfit" [(ngModel)]="baseBenefit2"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="acchospbenfit"></label>
                            </td>
                            <td>Accidental Hospitalization Cash Benefit</td>
                            <td> {{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <h3 *ngIf='selectedOption!=""'>Extension benefit</h3>
                      <table *ngIf='selectedOption!=""'>
                        <thead>
                          <tr>
                            <th></th>
                            <th>Cover Names</th>
                            <th>SI per Day/ SI per Event</th>
                            <th>Max No of Days</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngIf='(selectedOption==0 || selectedOption==1 || selectedOption==2 || selectedOption==3) && selectedOption!=""'>
                            <td>
                              <input type="checkbox" id="intcashbenfit" [(ngModel)]="extnBenefit1"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="intcashbenfit"></label>
                            </td>
                            <td>Intensive Care Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr *ngIf='selectedOption==1 || selectedOption==2 || selectedOption==3'>
                            <td>
                              <input type="checkbox" id="canhospbenfit" [(ngModel)]="extnBenefit2"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="canhospbenfit"></label>
                            </td>
                            <td>Cancer Hospitalization Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr *ngIf='selectedOption==1 || selectedOption==2 || selectedOption==3'>
                            <td>
                              <input type="checkbox" id="brstrkbenfit" [(ngModel)]="extnBenefit3"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="brstrkbenfit"></label>
                            </td>
                            <td>Brain and Stroke Hospitalization Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr *ngIf='selectedOption==1 || selectedOption==2 || selectedOption==3'>
                            <td>
                              <input type="checkbox" id="orgtrspbenfit" [(ngModel)]="extnBenefit4"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="orgtrspbenfit"></label>
                            </td>
                            <td>Organ Transplant Hospitalization Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr *ngIf='selectedOption==1 || selectedOption==2 || selectedOption==3'>
                            <td>
                              <input type="checkbox" id="hrtalmbenfit" [(ngModel)]="extnBenefit5"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="hrtalmbenfit"></label>
                            </td>
                            <td>Heart Ailment Hospitalization Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr *ngIf='selectedOption==1 || selectedOption==2 || selectedOption==3'>
                            <td>
                              <input type="checkbox" id="frcbrnbenfit" [(ngModel)]="extnBenefit6"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="frcbrnbenfit"></label>
                            </td>
                            <td>Fracture and Burns Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr
                            *ngIf='(selectedOption==0 || selectedOption==1 || selectedOption==2 || selectedOption==3) && selectedOption!=""'>
                            <td>
                              <input type="checkbox" id="daycrebenfit" [(ngModel)]="extnBenefit8"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="daycrebenfit"></label>
                            </td>
                            <td>Day Care Treatment Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>5</td>
                          </tr>
                          <tr *ngIf='selectedOption==3'>
                            <td>
                              <input type="checkbox" id="hospattbenfit" [(ngModel)]="extnBenefit9"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="hospattbenfit"></label>
                            </td>
                            <td>Hospital Attendant Cash Benefit </td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr *ngIf='selectedOption==3'>
                            <td>
                              <input type="checkbox" id="chldcrebenfit" [(ngModel)]="extnBenefit10"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="chldcrebenfit"></label>
                            </td>
                            <td>Child Care Cash Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>{{noOfDays}}</td>
                          </tr>
                          <tr *ngIf='(selectedOption==1 || selectedOption==2 || selectedOption==3) && noOfDays>5'>
                            <td>
                              <input type="checkbox" id="convlcashbenfit" [(ngModel)]="extnBenefit11"
                                [ngModelOptions]="{standalone: true}" (change)='getCCBBenefit()' />
                              <label for="convlcashbenfit"></label>
                            </td>
                            <td>Convalescence Benefit</td>
                            <td>10,000</td>
                            <td>1</td>
                          </tr>
                          <tr
                            *ngIf='(selectedOption==0 || selectedOption==1 || selectedOption==2 || selectedOption==3) && selectedOption!=""'>
                            <td>
                              <input type="checkbox" id="ambucvrbenfit" [(ngModel)]="extnBenefit12"
                                [ngModelOptions]="{standalone: true}" />
                              <label for="ambucvrbenfit"></label>
                            </td>
                            <td>Ambulance Cover Benefit</td>
                            <td>{{siData | formatnumbers}}</td>
                            <td>5</td>
                          </tr>
                          <tr *ngIf='selectedOption==2 || selectedOption==3'>
                            <td>
                              <input type="checkbox" id="compvstbenfit" [(ngModel)]="extnBenefit13"
                                [ngModelOptions]="{standalone: true}" (change)='getCVCBenefit()' />
                              <label for="compvstbenfit"></label>
                            </td>
                            <td>Compassionate Visit Cash Benefit</td>
                            <td>2,500</td>
                            <td>1</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="4">
                              <strong *ngIf='showEBCCFooter'>The rates for Compassionate Visit Cash Benefit are for
                                a sum insured of Rs. 2,500 and minimum hospitalization
                                of 3 days</strong>
                              <strong *ngIf='showEBCVCFooter'>The rates for Convalescence Benefit are for a sum insured
                                of Rs. 10,000 and minimum
                                hospitalization of 10 days</strong>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                      <div class="text-center">
                        <button type="button" class="cstmbtn" [disabled]="!QuoteForm.form.valid"
                          (click)="goToPremium(QuoteForm)">Calculate</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="card" *ngIf='isQuoteGenerated'>
            <div class="card-header" (click)="showPremiumDetails($event)">
              <a class="card-link" id="premiumDetails">
                premium details
              </a>
            </div>
            <div class="collapse show" *ngIf="isPremiumDetails">
              <div class="card-body" *ngIf="!showHospifundPremium">
                <div class="">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group" id="tabparent" style="padding:0px;"
                    *ngIf="isHealthBooster" style="text-align: center;">
                    <label class="text-center tenureHBColor">Policy Tenure</label>
                    <div class="radioboxdiv" style="text-align: center">
                      <div id="tab1" class="form-check form-check-inline splitWidth30">
                        <input type="radio" id="oneyrPolten" name="policyten" (click)="getHBData(1)">
                        <label for="oneyrPolten">1 Year</label>
                      </div>
                      <div id="tab2" class="form-check form-check-inline splitWidth30">
                        <input type="radio" id="twoyrPolten" name="policyten" (click)="getHBData(2)">
                        <label for="twoyrPolten">2 Years</label>
                      </div>
                      <div id="tab3" class="form-check form-check-inline splitWidth30">
                        <input type="radio" id="threeyrPolten" name="policyten" checked="checked"
                          (click)="getHBData(3)">
                        <label for="threeyrPolten">3 Years</label>
                      </div>
                    </div>
                  </div>

                  <hr *ngIf="isHealthBooster">
                  <table class="premTable" *ngIf="isPPAP || isCHI || isHealthBooster">
                    <thead>
                      <tr>
                        <th class="text-center" colspan="2" *ngIf="isPPAP">
                          Premium Amount for {{quoteRequest.Tenure}} year(s)
                        </th>
                        <th class="text-center" colspan="2" *ngIf="isCHI">
                          Premium Amount for {{quoteRequest.YearPremium}} year(s)
                        </th>
                        <th class="text-center" colspan="2" *ngIf="isHealthBooster">
                          Premium Amount
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center" colspan="2">
                          <strong>₹ {{quoteResponse.HealthDetails[0].TotalPremium | formatnumbers}}</strong>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-left">
                          <label>Basic Premium</label>
                          <span>₹ {{quoteResponse.HealthDetails[0].BasicPremium | formatnumbers}}</span>
                        </td>
                        <td class="text-right">
                          <label>GST</label>
                          <span>₹ {{quoteResponse.HealthDetails[0].GSTResponse.TotalGSTAmt | formatnumbers}}</span>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="row" *ngIf="isPPAP">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv">
                      <label for="prdName" class="auto_height">Quote No.</label>
                      <input type="text" class="form-control" id="prdName"
                        value="{{quoteResponse.HealthDetails[0].PFQuoteID}}" disabled="disabled" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv">
                      <label for="prdName" class="auto_height">Product Name</label>
                      <input type="text" class="form-control" id="prdName" value="{{quoteRequest.ProductType}}"
                        disabled="disabled" />
                    </div>
                    <div class="col-xl-6 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv">
                      <label for="prdName" class="auto_height">Sub-Product Name</label>
                      <input type="text" class="form-control" id="prdName" value="{{SubProductName}}"
                        disabled="disabled" />
                    </div>

                  </div>

                  <hr>

                  <div class="row" *ngIf="isCHI || isHealthBooster">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv" *ngIf="isCHI">
                      <label for="prdName" class="auto_height">Product Name</label>
                      <input type="text" class="form-control" id="prdName" value="{{quoteRequest.ProductType}}"
                        disabled="disabled" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv" *ngIf="isHealthBooster">
                      <label for="prdName" class="auto_height">Product Name</label>
                      <input type="text" class="form-control" id="prdName" value="Health Booster" disabled="disabled" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv">
                      <label for="prdName" class="auto_height">Sub-Product Name</label>
                      <input type="text" class="form-control" id="prdName" value="{{quoteRequest.CHIProductName}}"
                        disabled="disabled" *ngIf="isCHI" />
                      <input type="text" class="form-control" id="prdName" value="{{HBProductName}}" disabled="disabled"
                        *ngIf="isHealthBooster" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv">
                      <label for="prdName" class="auto_height">No of Adults</label>
                      <input type="text" class="form-control" id="prdName" value="{{quoteRequest.NoOfAdults}}"
                        disabled="disabled" />
                    </div>

                    <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv">
                      <label class="auto_height">No of Adults</label>
                      <div class="chkboxdiv">
                        <div class="form-check form-check-inline">
                          <input type="checkbox" id="rdlNoTrvlrs1" checked="checked" value="{{quoteRequest.NoOfAdults}}" disabled="disabled" />
                          <label for="rdlNoTrvlrs1">{{quoteRequest.NoOfAdults}}</label>
                        </div>
                      </div>
                    </div> -->

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group statediv">
                      <label for="prdName" class="auto_height">No of Childs</label>
                      <input type="text" class="form-control" id="prdName" value="{{quoteRequest.NoOfKids}}"
                        disabled="disabled" />
                    </div>

                  </div>
                  <div class="text-center">
                    <button type="button" (click)="ConvertToPolicy($event)" id="btnConvert" class="cstmbtn">Convert to
                      Policy</button>
                  </div>
                </div>
              </div>
              <div class="card-body" *ngIf="showHospifundPremium">
                <div class="tablediv2">
                  <table>
                    <thead class="text-center">
                      <tr>
                        <th class="d-none d-sm-block"></th>
                        <th>1 Year</th>
                        <th>2 Years</th>
                        <th>3 Years</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th colspan="4" class="mb_head">Basic Premium</th>
                      </tr>
                      <tr>
                        <th class="d-none d-sm-block">Basic Premium</th>
                        <td> {{base1 | number:'1.0-2'}}</td>
                        <td> {{base2 | number:'1.0-2'}}</td>
                        <td> {{base3 | number:'1.0-2'}}</td>
                      </tr>
                      <tr>
                        <th colspan="4" class="mb_head">Tax</th>
                      </tr>
                      <tr>
                        <th class="d-none d-sm-block">Tax</th>
                        <td> {{tax1 | number:'1.0-2'}}</td>
                        <td> {{tax2 | number:'1.0-2'}}</td>
                        <td> {{tax3 | number:'1.0-2'}}</td>
                      </tr>
                      <!-- <tr>
                        <th colspan="4" class="mb_head">Total Premium</th>
                      </tr>
                      <tr>
                        <th class="d-none d-sm-block">Total Premium</th>
                        <td>{{ totalPremium1 | number:'1.0-0'}}</td>
                        <td>{{ totalPremium2 | number:'1.0-0'}}</td>
                        <td>{{ totalPremium3 | number:'1.0-0'}}</td>
                      </tr> -->
                      <tr>
                        <th colspan="4" class="mb_head">Total Premium(Rs.)</th>
                      </tr>
                      <tr>
                        <th class="d-none d-sm-block">Total Premium(Rs.)</th>
                        <td>{{totalPremiuminRs1 | number:'1.0-0'}}</td>
                        <td>{{totalPremiuminRs2 | number:'1.0-0'}}</td>
                        <td>{{totalPremiuminRs3 | number:'1.0-0'}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="d-none d-sm-block"></td>
                        <td>
                          <input type="radio" id="oneyrPremssss" name='SelPremium' (change)='triggerChangeOne()'
                            value="oneyear" />
                          <label for="oneyrPremssss"></label>
                        </td>
                        <td>
                          <input type="radio" id="twoyrsPrem" name='SelPremium' (change)='triggerChangeTwo()'
                            value="twoyear" />
                          <label for="twoyrsPrem"></label>
                        </td>
                        <td>
                          <input type="radio" id="threeyrsPrem" name='SelPremium' (change)='triggerChangeThree()'
                            value="threeyear" checked />
                          <label for="threeyrsPrem"></label>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="text-center" *ngIf='totalPremiuminRs1 && totalPremiuminRs2 && totalPremiuminRs3'>
                    <button type="button" class="cstmbtn" (click)="gotoProposal()">Continue</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>